@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
@import "tailwindcss";
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: 'austin-isd';
  src:  url('/assets/adminfonts/austin-isd.eot?cf48sm');
  src:  url('/assets/adminfonts/austin-isd.eot?cf48sm#iefix') format('embedded-opentype'),
    url('/assets/adminfonts/austin-isd.ttf?cf48sm') format('truetype'),
    url('/assets/adminfonts/austin-isd.woff?cf48sm') format('woff'),
    url('/assets/adminfonts/austin-isd.svg?cf48sm#austin-isd') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="autinisd-"], [class*=" autinisd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'austin-isd' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.autinisd-arrow-circle-down:before {content: "\e900";}
.autinisd-arrow-circle-left:before {content: "\e901";}
.autinisd-arrow-circle-right:before {content: "\e902";}
.autinisd-arrow-down:before {content: "\e903";}
.autinisd-arrow-left-line:before {content: "\e904";}
.autinisd-arrow-right:before {content: "\e905";}
.autinisd-arrow-right-line:before {content: "\e906";}
.autinisd-arrow-square-down:before {content: "\e907";}
.autinisd-attechment:before {content: "\e908";}
.autinisd-buildings:before {content: "\e909";}
.autinisd-calendar:before {content: "\e90a";}
.autinisd-calendar-edit:before {content: "\e90b";}
.autinisd-clock:before {content: "\e90c";}
.autinisd-close-circle:before {content: "\e90d";}
.autinisd-cross:before {content: "\e90e";}
.autinisd-document:before {content: "\e90f";}
.autinisd-document-download:before {content: "\e910";}
.autinisd-document-filter:before {content: "\e911";}
.autinisd-document-upload:before {content: "\e912";}
.autinisd-download:before {content: "\e913";}
.autinisd-edit:before {content: "\e914";}
.autinisd-element:before {content: "\e915";}
.autinisd-eye:before {content: "\e916";}
.autinisd-eye-slash:before {content: "\e917";}
.autinisd-filter-search:before {content: "\e918";}
.autinisd-firstline:before {content: "\e919";}
.autinisd-info-circle-fill:before {content: "\e91a";}
.autinisd-info-shape:before {content: "\e91b";}
.autinisd-left:before {content: "\e91c";}
.autinisd-menu:before {content: "\e91d";}
.autinisd-microphone:before {content: "\e91e";}
.autinisd-note-2:before {content: "\e91f";}
.autinisd-plus:before {content: "\e920";}
.autinisd-right:before {content: "\e921";}
.autinisd-right-tick:before {content: "\e922";}
.autinisd-row-vertical:before {content: "\e923";}
.autinisd-search:before {content: "\e924";}
.autinisd-search-outline:before {content: "\e925";}
.autinisd-shop:before {content: "\e926";}
.autinisd-sidebar-close:before {content: "\e927";}
.autinisd-sms:before {content: "\e928";}
.autinisd-sort:before {content: "\e929";}
.autinisd-star-outline:before {content: "\e92a";}
.autinisd-three-dots-square:before {content: "\e92b";}
.autinisd-trash:before {content: "\e92c";}
.autinisd-unlock:before {content: "\e92d";}
.autinisd-user-delete:before {content: "\e92e";}
.autinisd-user-edit:before {content: "\e92f";}
.autinisd-user-search:before {content: "\e930";}
.autinisd-user-square:before {content: "\e931";}
.autinisd-warning:before {content: "\e932";}
.autinisd-arrow-up:before {content: "\e933";}
.autinisd-changepassword:before {content: "\e934";}
.autinisd-logut:before {content: "\e935";}
.autinisd-profile:before {content: "\e936";}
.autinisd-user:before {content: "\e937";}
.autinisd-edit-pen:before {content: "\e938";}
.austin-pin:before { content: '\e821'; } /* '' */
.austin-pin-circle:before { content: '\e80f'; } /* '' */
.austin-pluse:before { content: '\e807'; } /* '' */



/* common style */
body { 
  touch-action: manipulation; /* Disables pinch-to-zoom */
  font-size: 14px; background-color: #F0F2F6;}




/* End Site Preloader */

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
      /* Safari specific styles */
     
  }
}

/***********************************************
            Responsive
***********************************************/

@media (min-width:1800px) { 
  
}

@media (max-width:1279px) { 
 
 }

@media (max-width:1024px) {  }

@media (max-width:991px) {  }

@media (max-width:768px) {  }
@media (max-width:767px) {  }

 @media (max-width: 767px) and (orientation: landscape) {
}

@media (orientation: landscape) and (max-height: 500px) {
  
}

@media (max-width:575px) {  }


@media screen and (max-width: 991px) {
 
}


@media (min-width:1800px){
  
}