@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --interface-text-default: #E0E3E9;
  --Interface-Text-title: #F2F2F5;
  --Brand-Neutral-50: #263040;
  --Interface-Stroke-soft: #1F2A37;
   --interface-text-default1: #3C4146;
  --Interface-Text-title1: #212325;
  --Interface-feedback-error-700: #D42600;
   --Interface-Stroke-default : #C9D3DB;
   --Brand-Primary-900 : #4A4167;
   
 
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-interfacetextdefault: var(--interface-text-default);
  --color-InterfaceTexttitle :var(--Interface-Text-title);
  --color-BrandNeutral50 :var(--Brand-Neutral-50);
  --color-InterfaceStrokesoft :var(--Interface-Stroke-soft);
  --color-interfacetextdefault1: var(--interface-text-default1);
  --color-InterfaceTexttitle1 :var(--Interface-Text-title1);
  --color-Interfacefeedbackerror700 :var(--Interface-feedback-error-700);
  --color-InterfaceStrokedefault :var(--Interface-Stroke-default);
  --color-BrandPrimary900  :var(--Brand-Primary-900 );
      
 
 
  
 
 
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* ✅ ADD YOUR BREAKPOINTS HERE */
  --breakpoint-xs: 575px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-1366xl: 1366px;
  --breakpoint-1440xl: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1900px; /* 👉 THIS IS WHAT YOU NEED */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);

}

@font-face {
  font-family: 'redington';
  src:  url('/fonts/redington.eot?5kxb3k');
  src:  url('/fonts/redington.eot?5kxb3k#iefix') format('embedded-opentype'),
    url('/fonts/redington.ttf?5kxb3k') format('truetype'),
    url('/fonts/redington.woff?5kxb3k') format('woff'),
    url('/fonts/redington.svg?5kxb3k#redington') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="smb-"], [class*=" smb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'redington' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smb-arrow-down:before {
  content: "\e903";
}
.smb-arrowup:before {
  content: "\e904";
}
.smb-audio:before {
  content: "\e905";
}
.smb-book:before {
  content: "\e906";
}
.smb-calendar:before {
  content: "\e907";
}
.smb-call:before {
  content: "\e908";
}
.smb-check-circle:before {
  content: "\e909";
}
.smb-circle-close:before {
  content: "\e90a";
}
.smb-circle-square:before {
  content: "\e90b";
}
.smb-danger:before {
  content: "\e90c";
}

.smb-edit:before {
  content: "\e913";
}
.smb-edu:before {
  content: "\e914";
}

.smb-filter:before {
  content: "\e917";
}
.smb-flash-light:before {
  content: "\e918";
}
.smb-g7:before {
  content: "\e919";
}
.smb-global:before {
  content: "\e91a";
}
.smb-key-square:before {
  content: "\e91b";
}
.smb-location:before {
  content: "\e91c";
}
.smb-menu:before {
  content: "\e91d";
}
.smb-more:before {
  content: "\e91e";
}
.smb-oct-user:before {
  content: "\e91f";
}
.smb-pdf:before {
  content: "\e920";
}
.smb-search:before {
  content: "\e921";
}
.smb-setting:before {
  content: "\e922";
}
.smb-simple-search:before {
  content: "\e923";
}
.smb-slash:before {
  content: "\e924";
}
.smb-sms:before {
  content: "\e925";
}
.smb-square-more:before {
  content: "\e926";
}
.smb-ticket:before {
  content: "\e927";
}
.smb-video:before {
  content: "\e928";
}
.smb-down-arrow:before {
  content: "\e901";
}
.smb-watch:before {
  content: "\e902";
}
.smb-logout:before {
  content: "\e900";
}

/* Global font size */

.font10 {
  @apply text-[8px] lg:text-[8px] xl:text-[10px] 2xl:text-[10px] 3xl:text-[0.521vw];
}
.font12 {
  @apply text-[11px] sm:text-[11px] md:text-[12px] lg:text-[12px] xl:text-[12px] 2xl:text-[12px] 3xl:text-[0.625vw];
}
.font14 {
  @apply text-[13px] lg:text-[13px] xl:text-[13px] 2xl:text-[14px] 3xl:text-[0.729vw];
}
.font16 {
  @apply text-[14px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px] 3xl:text-[0.833vw];
}
.font18 {
  @apply text-[15px] lg:text-[15px] xl:text-[16px] 2xl:text-[18px] 3xl:text-[0.938vw];
}
.font20 {
  @apply text-[16px] lg:text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[1.042vw];
}
.font24 {
  @apply text-[20px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px] 3xl:text-[1.25vw];
}
.font32 {
  @apply text-[24px] lg:text-[28px] xl:text-[30px] 2xl:text-[32px] 3xl:text-[1.667vw];
}
.font36 {
  @apply text-[20px] lg:text-[24px] xl:text-[32px] 2xl:text-[36px] 3xl:text-[1.875vw];
}


/* Global spacing  */
.spacey12 {
  @apply space-y-[12px] xl:space-y-[12px] 3xl:space-y-[0.625vw];
}
.spacey20 {
  @apply space-y-[18px] lg:space-y-[18px] xl:space-y-[18px] 2xl:space-y-[20px] 3xl:space-y-[1.042vw];
}
.spacey30 {
  @apply space-y-[30px] lg:space-y-[30px] xl:space-y-[30px] 3xl:space-y-[1.563vw];
}
/* Global spacing  */


/* Global Gap */
.gap20 {
  @apply gap-[20px] xl:gap-[20px] 3xl:gap-[1.042vw];
}
/* Global Gap */

/* Global  Margin */
.mx40 {
  @apply mx-[40px] xl:mx-[40px] 3xl:mx-[2.083vw];
}
.mt40 {
  @apply mt-[40px] xl:mt-[40px] 2xl:mt-[40px] 3xl:mt-[2.083vw];
}

/* Global  Margin */

/* landing page start */
.launchpad-bg{
  background: linear-gradient(90deg, #F2980E 0%, #59B557 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 95%;
}
.solution-bg{
  border-radius: var(--Border-Radius-rounded-lg, 8px);
  border: 1px solid rgba(66, 83, 109, 0.15);
  background: linear-gradient(91deg, rgba(255, 233, 67, 0.12) 5.05%, rgba(66, 219, 62, 0.12) 97.08%);
  backdrop-filter: blur(27px);
}
.twinthread-bg {
  background-image: url('/images/twinthread-bg.svg');
  background-size: cover;
  background-position: center;
}
/* landing page end */
