@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================================
   Variables & Theme
   ========================================= */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --interface-text-default: #e0e3e9;
  --Interface-Text-title: #f2f2f5;
  --Interface-Text-title1: #19212A;
  --Interface-Text-subtitle: #9EA3AA;
  --Brand-Neutral-50: #263040;
  --Interface-Stroke-soft: #1f2a37;
  --Interface-Stroke-soft1: #E5E7EB;
  --interface-text-default1: #3c4146;
  --interface-text-default2: #2C363F;
  --Interface-feedback-error-700: #d42600;
  --Interface-Stroke-default: #c9d3db;
  --Brand-Primary-900: #4a4167;
  --Interface-Surface-hc-primary: #645592;
  --Interface-Surface-component: #fff;
  --Interface-Surface-component1: #141314;
  --Brand-Neutral-900: #42536D;
  --Brand-Primary-800: #067532;
  --Brand-Primary-pure: #00953A;


  --Interface-Surface-page: #FAF9FB;
  --Brand-Highlight-pure: #72B35F;
  --Brand-Highlight-500: #5D9D4A;
  --Brand-Neutral-501: #F5F6F8;
  --interface-stroke-default3: #BECDE3;
  --brand-primary-100: #DAEEFF;
  --Brand-Neutral-pure: #768FB5;
  --interface-surface-component-muted: #F5F6F7;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-interfacetextdefault: var(--interface-text-default);
  --color-interfacetextdefault1: var(--interface-text-default1);
  --color-InterfaceTexttitle: var(--Interface-Text-title);
  --color-BrandNeutral50: var(--Brand-Neutral-50);
  --color-InterfaceStrokesoft: var(--Interface-Stroke-soft);
  --color-InterfaceTexttitle :var(--Interface-Text-title);
  --color-InterfaceTexttitle1 :var(--Interface-Text-title1);
  --color-InterfaceTextsubtitle :var(--Interface-Text-subtitle);
  --color-BrandNeutral501 :var(--Brand-Neutral-501);
  --color-InterfaceStrokesoft1 :var(--Interface-Stroke-soft1);
  --color-interfacetextdefault2: var(--interface-text-default2);
  --color-Interfacefeedbackerror700: var(--Interface-feedback-error-700);
  --color-InterfaceStrokedefault: var(--Interface-Stroke-default);
  --color-BrandPrimary900: var(--Brand-Primary-900);
  --color-InterfaceSurfacehcprimary: var(--Interface-Surface-hc-primary);
  --color-InterfaceSurfacecomponent: var(--Interface-Surface-component);
  --color-InterfaceSurfacecomponent1: var(--Interface-Surface-component1);
  --color-BrandNeutral900: var(--Brand-Neutral-900);
  --color-BrandPrimary800: var(--Brand-Primary-800);
  --color-BrandPrimarypure: var(--Brand-Primary-pure);
  --color-interfacestrokedefault3: var(--interface-stroke-default3);
  --color-brandprimary100: var(--brand-primary-100);
  --color-BrandNeutralpure: var(--Brand-Neutral-pure);
  --color-interfacesurfacecomponentmuted: var(--interface-surface-component-muted);
  
  
    
 



  --color-InterfaceSurfacepage: var(--Interface-Surface-page);
  --color-BrandHighlightpure: var(--Brand-Highlight-pure);
  --color-BrandHighlight500: var(--Brand-Highlight-500);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* ✅ BREAKPOINTS */
  --breakpoint-xs: 575px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-1366xl: 1366px;
  --breakpoint-1440xl: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1900px; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 
}

/* =========================================
   Fonts & Icons
   ========================================= */

@font-face {
  font-family: "redington";
  src: url("/fonts/redington.eot?5kxb3k");
  src: url("/fonts/redington.eot?5kxb3k#iefix") format("embedded-opentype"),
    url("/fonts/redington.ttf?5kxb3k") format("truetype"),
    url("/fonts/redington.woff?5kxb3k") format("woff"),
    url("/fonts/redington.svg?5kxb3k#redington") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="smb-"],
[class*=" smb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "redington" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smb-eye4:before {
  content: "\e915";
}
.smb-video2:before {
  content: "\e937";
}
.smb-search-status:before {
  content: "\e916";
}
.smb-eye:before {
  content: "\e915";
}
.smb-add:before {
  content: "\e935";
}
.smb-import2:before {
  content: "\e939";
}
.smb-search-normal2:before {
  content: "\e93a";
}
.smb-user-add:before {
  content: "\e93b";
}
.smb-FilePdf:before {
  content: "\e938";
}
.smb-doc-download:before {
  content: "\e936";
}
.smb-folder:before {
  content: "\e901";
}
.smb-ticket1:before {
  content: "\e934";
}
.smb-arrow-right:before {
  content: "\e929";
}
.smb-doc-upload:before {
  content: "\e92a";
}
.smb-export:before {
  content: "\e92b";
}
.smb-flash:before {
  content: "\e92c";
}
.smb-grid:before {
  content: "\e92d";
}
.smb-info-circle:before {
  content: "\e92e";
}
.smb-lamp-on:before {
  content: "\e92f";
}
.smb-refresh:before {
  content: "\e930";
}
.smb-shield-tick:before {
  content: "\e931";
}
.smb-time-start:before {
  content: "\e932";
}
.smb-verify:before {
  content: "\e933";
}
.smb-arrow-down:before {
  content: "\e903";
}
.smb-arrowup:before {
  content: "\e904";
}
.smb-audio:before {
  content: "\e905";
}
.smb-book:before {
  content: "\e906";
}
.smb-calendar:before {
  content: "\e907";
}
.smb-call:before {
  content: "\e908";
}
.smb-check-circle:before {
  content: "\e909";
}
.smb-circle-close:before {
  content: "\e90a";
}
.smb-circle-square:before {
  content: "\e90b";
}
.smb-danger:before {
  content: "\e90c";
}

.smb-edit:before {
  content: "\e913";
}
.smb-edu:before {
  content: "\e914";
}
.smb-filter:before {
  content: "\e917";
}
.smb-flash-light:before {
  content: "\e918";
}
.smb-g7:before {
  content: "\e919";
}
.smb-global:before {
  content: "\e91a";
}
.smb-key-square:before {
  content: "\e91b";
}
.smb-location:before {
  content: "\e91c";
}
.smb-menu:before {
  content: "\e91d";
}
.smb-more:before {
  content: "\e91e";
}
.smb-oct-user:before {
  content: "\e91f";
}
.smb-pdf:before {
  content: "\e920";
}
.smb-search:before {
  content: "\e921";
}
.smb-setting:before {
  content: "\e922";
}
.smb-simple-search:before {
  content: "\e923";
}
.smb-slash:before {
  content: "\e924";
}
.smb-sms:before {
  content: "\e925";
}
.smb-square-more:before {
  content: "\e926";
}
.smb-ticket:before {
  content: "\e927";
}
.smb-video:before {
  content: "\e928";
}
.smb-watch:before {
  content: "\e902";
}
.smb-logout:before {
  content: "\e900";
}



/* =========================================
   Global Utilities (Typography, Spacing)
   ========================================= */

/* Global font size */
.font10 {
  @apply text-[8px] lg:text-[8px] xl:text-[10px] 2xl:text-[10px] 3xl:text-[0.521vw];
}
.font11 {
  @apply text-[9px] lg:text-[9px] xl:text-[11px] 2xl:text-[11px] 3xl:text-[0.573vw];
}
.font12 {
  @apply text-[11px] sm:text-[11px] md:text-[12px] lg:text-[12px] xl:text-[12px] 2xl:text-[12px] 3xl:text-[0.625vw];
}
.font14 {
  @apply text-[13px] lg:text-[13px] xl:text-[13px] 2xl:text-[14px] 3xl:text-[0.729vw];
}
.font16 {
  @apply text-[14px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px] 3xl:text-[0.833vw];
}
.font17 {
  @apply text-[16.8px] lg:text-[16.8px] xl:text-[16.8px] 2xl:text-[16.8px] 3xl:text-[1.033vw];
}
.font18 {
  @apply text-[15px] lg:text-[15px] xl:text-[16px] 2xl:text-[18px] 3xl:text-[0.938vw];
}
.font20 {
  @apply text-[16px] lg:text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[1.042vw];
}
.font24 {
  @apply text-[20px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px] 3xl:text-[1.25vw];
}
.font26 {
  @apply text-[22px] lg:text-[22px] xl:text-[24px] 2xl:text-[26px] 3xl:text-[1.354vw];
}
.font32 {
  @apply text-[24px] lg:text-[28px] xl:text-[30px] 2xl:text-[32px] 3xl:text-[1.667vw];
}
.font36 {
  @apply text-[20px] lg:text-[24px] xl:text-[32px] 2xl:text-[36px] 3xl:text-[1.875vw];
}


/* Global spacing */
.spacey12 {
  @apply space-y-[12px] xl:space-y-[12px] 3xl:space-y-[0.625vw];
}
.spacey24 {
  @apply space-y-[20px] lg:space-y-[22px] xl:space-y-[22px] 3xl:space-y-[1.25vw];
}
.spacey16 {
  @apply space-y-[14px] xl:space-y-[146px] 2xl:space-y-[16px] 3xl:space-y-[0.833vw];
}
.spacey20 {
  @apply space-y-[18px] lg:space-y-[18px] xl:space-y-[18px] 2xl:space-y-[20px] 3xl:space-y-[1.042vw];
}
.spacey26 {
  @apply space-y-[20px] lg:space-y-[22px] xl:space-y-[24px] 2xl:space-y-[26px] 3xl:space-y-[1.354vw];
}
.spacey30 {
  @apply space-y-[30px] lg:space-y-[30px] xl:space-y-[30px] 3xl:space-y-[1.563vw];
}

/* Global Padding */
.p12 {
  @apply p-[10px] lg:p-[10px] xl:p-[12px] 2xl:p-[12px] 3xl:p-[0.625vw];
}

.p16 {
  @apply p-[14px] lg:p-[14px] xl:p-[16px] 2xl:p-[16px] 3xl:p-[0.833vw];
}

.py8 {
  @apply py-[8px] lg:py-[8px] xl:py-[8px] 3xl:py-[0.417vw];
}
.px8 {
  @apply px-[8px] lg:px-[8px] xl:px-[8px] 3xl:px-[0.417vw];
}
.py4 {
  @apply py-[4px] lg:py-[4px] xl:py-[4px] 3xl:py-[0.202vw];
}
.py6 {
  @apply py-[6px] lg:py-[6px] xl:py-[6px] 3xl:py-[0.313vw];
}
.py10 {
  @apply py-[8px] lg:py-[8px] xl:py-[8px] 2xl:py-[10px] 3xl:py-[0.521vw];
}
.py16 {
  @apply py-[12px] lg:py-[14px] xl:py-[16px] 2xl:py-[16px] 3xl:py-[0.833vw];
}
.py20 {
  @apply py-[18px] lg:py-[18px] xl:py-[18px] 2xl:py-[20px] 3xl:py-[1.042vw];
}
.px20 {
  @apply px-[20px] lg:px-[20px] xl:px-[20px] 2xl:px-[20px] 3xl:px-[1.39vw];
}
.py24 {
  @apply py-[20px] lg:py-[22px] xl:py-[24px] 2xl:py-[24px] 3xl:py-[1.25vw];
}
.px24 {
  @apply px-[20px] lg:px-[22px] xl:px-[24px] 2xl:px-[24px] 3xl:px-[1.25vw];
}
.pb6 {
  @apply pb-[6px] xl:pb-[6px] 3xl:pb-[0.313vw];
}
.px100 {
  @apply px-[80px] lg:px-[80px] xl:px-[80px] 2xl:px-[90px] 3xl:px-[5.208vw];
}
.py50 {
  @apply py-[40px] lg:py-[40px] xl:py-[50px] 2xl:py-[50px] 3xl:py-[2.604vw];
}
.py120 {
  @apply py-[70px] lg:py-[70px] xl:py-[90px] 2xl:py-[120px] 3xl:py-[6.25vw];
}
.py12 {
  @apply py-[12px] lg:py-[12px] xl:py-[12px] 2xl:py-[12px] 3xl:py-[0.625vw];
}
.px4 {
  @apply px-[4px] lg:px-[4px] xl:px-[4px] 2xl:px-[4px] 3xl:px-[0.208vw];
}
.px12 {
  @apply px-[10px] lg:px-[10px] xl:px-[12px] 2xl:px-[12px] 3xl:px-[0.625vw];
}
.px14 {
  @apply px-[12px] lg:px-[14px] xl:px-[14px] 2xl:px-[14px] 3xl:px-[0.729vw];
}

.p24 {
  @apply p-[20px] lg:p-[20px] xl:p-[24px] 3xl:p-[1.25vw] ;
}
.px15 {
  @apply px-[15px] lg:px-[15px] xl:px-[15px] 2xl:px-[15px] 3xl:px-[1.04vw];
}
.pl15 {
  @apply pl-[15px] lg:pl-[15px] xl:pl-[15px] 2xl:pl-[15px] 3xl:pl-[1.04vw];
}
.p15 {
  @apply p-[15px] lg:p-[15px] xl:p-[15px] 2xl:p-[15px] 3xl:p-[1.04vw];
}
.p10 {
  @apply p-[10px] lg:p-[10px] xl:p-[10px] 2xl:p-[10px] 3xl:p-[1vw];
}
.pl55 {
  @apply pl-[55px] lg:pl-[55px] xl:pl-[55px] 2xl:pl-[55px] 3xl:pl-[2.04vw];
}
.pt15 {
  @apply pt-[15px] lg:pt-[15px] xl:pt-[15px] 2xl:pt-[15px] 3xl:pt-[0.625vw];

}
.pb22 {
  @apply pb-[18px] lg:pb-[20px] xl:pb-[22px] 2xl:pb-[22px] 3xl:pb-[1.146vw];

}
.p7 {
  @apply p-[7.22px] lg:p-[7.22px] xl:p-[7.22px] 2xl:p-[7.22px] 3xl:p-[0.354vw];
}

.px70 {
  @apply px-[60px] lg:px-[60px] xl:px-[70px] 2xl:px-[70px] 3xl:px-[3.646vw];
}
.px130 {
  @apply px-[90px] lg:px-[90px] xl:px-[110px] 2xl:px-[130px] 3xl:px-[6.771vw];
}
/* Global Padding End */

.px12 {
  @apply px-[10px] lg:px-[10px] xl:px-[12px] 2xl:px-[12px] 3xl:px-[0.623vw];
}
/* Global width */
.w18 {
  @apply w-[15px] lg:w-[16px] xl:w-[18px] 2xl:w-[18px] 3xl:w-[0.938vw];
}
.w20 {
  @apply w-[18px] lg:w-[18px] xl:w-[20px] 2xl:w-[20px] 3xl:w-[1.042vw];
}
.w36 {
  @apply w-[36px] xl:w-[36px] 3xl:w-[1.875vw];
}
.w300 {
  @apply w-[200px] lg:w-[250px] xl:w-[300px] 3xl:w-[15.625vw]
}
.w220 {
  @apply w-[190px] lg:w-[190px] xl:w-[220px] 2xl:w-[230px] 3xl:w-[11.979vw]
}
.w100 {
  @apply w-[80px] lg:w-[80px] xl:w-[90px] 2xl:w-[95px] 3xl:w-[5.208vw]
}
.w15 {
  @apply w-[14px] xl:w-[14px] 2xl:w-[15px] 3xl:w-[0.829vw];
}



/* Global Gap */
.gap6 {
  @apply gap-[4px] xl:gap-[6px] 2xl:gap-[6px] 3xl:gap-[0.313vw];
}
.gap8 {
  @apply gap-[6px] xl:gap-[8px] 2xl:gap-[8px] 3xl:gap-[0.417vw];
}
.gap10 {
  @apply gap-[8px] xl:gap-[10px] 2xl:gap-[10px] 3xl:gap-[0.521vw];
}
.gap20 {
  @apply gap-[20px] xl:gap-[20px] 2xl:gap-[20px] 3xl:gap-[1.042vw];
}
.gap24 {
  @apply gap-[20px] xl:gap-[22px] 2xl:gap-[24px] 3xl:gap-[1.25vw];
}
.gap14 {
  @apply gap-[12px] xl:gap-[14px] 2xl:gap-[14px] 3xl:gap-[0.729vw];
}
.gap40 {
  @apply gap-[30px] xl:gap-[40px] 2xl:gap-[40px] 3xl:gap-[2.083vw];
}
.gap4 {
  @apply gap-[4px] xl:gap-[4px] 2xl:gap-[4px] 3xl:gap-[0.208vw];
}

/* Global Margin */
.mx40 {
  @apply mx-[40px] xl:mx-[40px] 3xl:mx-[2.083vw];
}
.mx30 {
  @apply mx-[25px] lg:mx-[25px] xl:mx-[30px] 3xl:mx-[1.563vw];
}
.mx60 {
  @apply mx-[40px] lg:mx-[40px] xl:mx-[50px] 2xl:mx-[60px] 3xl:mx-[3.125vw];
}
.mt60 {
  @apply mt-[40px] lg:mt-[40px] xl:mt-[50px] 2xl:mt-[60px] 3xl:mt-[3.125vw];
}
.mt40 {
  @apply mt-[40px] xl:mt-[40px] 2xl:mt-[40px] 3xl:mt-[2.083vw];
}
.mt24 {
  @apply mt-[18px] lg:mt-[20px] xl:mt-[22px] 2xl:mt-[24px] 3xl:mt-[1.25vw];
}
.my24 {
  @apply my-[18px] lg:my-[20px] xl:my-[20px] 2xl:my-[24px] 3xl:my-[1.25vw];
}
.mr160 {
  @apply mr-[40px] lg:mr-[40px] xl:mr-[120px] 2xl:mr-[150px] 3xl:mr-[8.333vw];
}
.mr120 {
  @apply mr-[40px] lg:mr-[40px] xl:mr-[90px] 2xl:mr-[120px] 3xl:mr-[6.25vw];
}
.mb8 {
  @apply mb-[8px] lg:mb-[8px] xl:mb-[8px] 3xl:mb-[0.417vw];
}
.mb12 {
  @apply mb-[10px] lg:mb-[10px] xl:mb-[12px] 2xl:mb-[12px] 3xl:mb-[0.625vw];
}
.pb14 {
  @apply pb-[12px] lg:pb-[14px] xl:pb-[14px] 2xl:pb-[14px] 3xl:pb-[0.729vw];
}
.pb12 {
  @apply pb-[10px] lg:pb-[10px] xl:pb-[12px] 2xl:pb-[12px] 3xl:pb-[0.625vw];
}
.pb20 {
  @apply pb-[18px] lg:pb-[20px] xl:pb-[20px] 2xl:pb-[20px] 3xl:pb-[1.042vw];
}
.mb20 {
  @apply mb-[18px] lg:mb-[18px] xl:mb-[20px] 2xl:mb-[20px] 3xl:mb-[1.042vw];
}
.mb30 {
  @apply mb-[22px] lg:mb-[25px] xl:mb-[25px] 2xl:mb-[30px] 3xl:mb-[1.563vw];
}
.mt10 {
  @apply mt-[8px] lg:mt-[9px] xl:mt-[10px] 2xl:mt-[10px] 3xl:mt-[0.521vw];
}
.mt12 {
  @apply mt-[10px] lg:mt-[10px] xl:mt-[12px] 2xl:mt-[12px] 3xl:mt-[0.625vw];
}
.mt16 {
  @apply mt-[14px] lg:mt-[14px] xl:mt-[16px] 2xl:mt-[16px] 3xl:mt-[0.833vw];
}
.mx26 {
  @apply mx-[27px] lg:mx-[26px] xl:mx-[26px] 3xl:mx-[1.354vw];
}
.mt15 {
  @apply mt-[15px] lg:mt-[15px] xl:mt-[15px] 3xl:mt-[0.781vw];
}
.mt80 {
  @apply mt-[60px] lg:mt-[60px] xl:mt-[70px] 2xl:mt-[80px] 3xl:mt-[4.17vw];
}
.my18 {
  @apply my-[16px] lg:my-[16px] xl:my-[18px] 3xl:my-[0.938vw];
}

/* Global  Margin */

/* Rounded  Start*/
.rounded4 {
  @apply rounded-[4px] lg:rounded-[4px] xl:rounded-[4px] 3xl:rounded-[0.208vw];
}
.rounded6 {
  @apply rounded-[6px] lg:rounded-[6px] xl:rounded-[6px] 3xl:rounded-[0.313vw];
}
.rounded8 {
  @apply rounded-[8px] lg:rounded-[8px] xl:rounded-[8px] 3xl:rounded-[0.417vw];
}
.rounded20 {
  @apply rounded-[18px] lg:rounded-[18px] xl:rounded-[20px] 2xl:rounded-[20px] 3xl:rounded-[1.042vw];
}

/* =========================================
   Animations & Scrollbars
   ========================================= */

@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); }
  60% { transform: translateX(30px); }
  80% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.popup-enter {
  animation: slideInFromLeft 0.5s ease-out;
}

/* Custom Scrollbars */
.custom-scroll {
  scrollbar-width: thin !important;
  scrollbar-color: #645592 #e5e7eb;
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #645592;
  border-radius: 10px;
}

.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* =========================================
   Component Styles & Overrides
   ========================================= */

/* Landing Page / Gradients */
.knowledge-base-banner-bg {
  background-image: url("/images/knowledge-hub-bg.png");
  background-size: cover;
  background-position: 100% 50%;
}

.faq-base-banner-bg {
  background-image: url("/images/faq-bg.png");
  background-size: cover;
  background-position: 100% 50%;
}

.support-base-banner-bg {
  background-image: url("/images/support-bg.png");
  background-size: cover;
  background-position: 100% 50%;
}

.banner-bg {
  background-image: url("/images/service-desk.png");
  background-size: cover;
  background-position: 100% 50%;
}
.cancel-btn-bg 
{
  background: linear-gradient(180deg, var(--Overlays-primary-overlay-8, rgba(100, 85, 146, 0.08)) 0%, var(--Overlays-primary-overlay-12, rgba(100, 85, 146, 0.12)) 100%);
}
.search-box {
  border-radius: var(--Border-Radius-rounded-lg, 8px);
  border: 1px solid rgba(66, 83, 109, 0.15);
  background: linear-gradient(91deg, rgba(255, 233, 67, 0.22) 5.05%, rgba(66, 219, 62, 0.22) 97.08%);
  box-shadow: 0 4px 64px 0 rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(27px);
}

/* .custom-op 
{
   transform: translateX(-130px) !important;

} */

.custom-overlaypanel 
{
   transform: translateX(-10px) !important; /* move to left */
  

}

.custom-overlaypanel.p-overlaypanel .p-overlaypanel-content {
    
    padding: 0rem !important;
}
.launchpad-bg {
  background: linear-gradient(90deg, #f2980e 0%, #59b557 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 95%;
}

.solution-bg {
  border-radius: var(--Border-Radius-rounded-lg, 8px);
  border: 1px solid rgba(66, 83, 109, 0.15);
  background: linear-gradient(91deg,
      rgba(255, 233, 67, 0.12) 5.05%,
      rgba(66, 219, 62, 0.12) 97.08%);
  backdrop-filter: blur(27px);
}

.twinthread-bg {
  background-image: url("/images/twinthread-bg.svg");
  background-size: cover;
  background-position: center;
}

/* PrimeReact Overrides */
.custom-table .p-datatable-header {
  background: transparent;
  border: none;
  padding: 0;
}
.custom-table .p-column-header-content {
  display: block !important;
  width: 100%;
}
.custom-table th {
  background-color: #F5F6F7 !important;
  border-bottom: 1px solid #E5E7EB !important;
  padding: 0.75rem 1rem !important;
  vertical-align: top !important;
}
.custom-table td {
  padding: 1rem !important;
}

/* Pagination Styling */
.p-paginator {
  border-top: 1px solid #E5E7EB;
  padding: 1rem;
  justify-content: flex-end;
  background: white;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #DAEEFF;
  color: #1570EF;
  border-color: #DAEEFF;
}
.p-paginator .p-paginator-page {
  border: 1px solid #E0E3E9;
  margin: 0 2px;
  border-radius: 4px;
  min-width: 2rem;
  height: 2rem;
  font-size: 0.875rem;
  color: #828A91;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border: 1px solid #E0E3E9;
  border-radius: 4px;
  margin: 0 2px;
  min-width: 2rem;
  height: 2rem;
  color: #828A91;
}
.p-paginator-current {
  margin-right: auto;
  color: #91A5C3;
  font-size: 0.875rem;
}

/* Custom Gradient for TopBar */
.custom-gradient {
  background: linear-gradient(90deg, rgba(89, 181, 87, 0) 0%, rgba(89, 181, 87, 0.4) 50%, rgba(89, 181, 87, 0) 100%);
}

/* Card Wrappers & Grids */
.sector-card {
  @apply rounded-2xl bg-white/90 shadow-sm p-4 flex flex-col justify-between h-53 transition-transform hover:-translate-y-[2px];
  transition: all 0.2s ease;
}
.sector-card:hover {
  box-shadow: 0 4px 20px #bab0d9; /* soft neutral shadow */
  transform: translateY(-2px);
}

.sector-subtitle {
  @apply uppercase text-[8px] lg:text-[8px] xl:text-[10px] 2xl:text-[10px] 3xl:text-[0.521vw] font-medium tracking-[-0.02em] text-[#6B7280];
}

.sector-title {
  @apply mt-2 text-[15px] lg:text-[15px] xl:text-[16px] 2xl:text-[18px] 3xl:text-[0.938vw] font-semibold leading-[24px] text-[#1E293B];
}

.sector-description {
  @apply mt-2 text-[11px] sm:text-[11px] md:text-[12px] lg:text-[12px] xl:text-[12px] 2xl:text-[12px] 3xl:text-[0.625vw] leading-[18px] text-[#475569];
}

.responsive-grid {
  @apply grid gap-4 grid-cols-[repeat(2,minmax(0,1fr))];
}

.advertising-card {
  @apply rounded-2xl bg-white/90 shadow-sm p-4 flex flex-col justify-between h-70 transition-transform hover:-translate-y-[2px];
}

.go-back{
    position: absolute;
    left: 15px;
}

.multi-agent-title {
    @apply mx-[27px] lg:mx-[26px] xl:mx-[26px] 3xl:mx-[1.354vw] font-semibold text-[18px] lg:text-[18px] xl:text-[18px] 2xl:text-[18px] 3xl:text-[0.938vw] text-[#293141];
}

.key-features {
  border-radius: 6px;
  border: 1px solid #E0E3E9;
  background-color: #E0E3E9;
}
.key-features-title {
  border-top: 3px solid #8C55FD;
  width: 50px;
}

/* Pricing & Support */
.pricing-support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f6f8;
  border-radius: 8px;
}
.pricing,
.support {
  flex: 1;
  padding-right: 15px;
}

.chat-now {
  display: block;
  background: linear-gradient(90.85deg, rgba(255, 233, 67, 0.12) 5.05%, rgba(66, 219, 62, 0.12) 97.08%);
  padding: 10px 20px;
  border-radius: 8px;
  flex: 1;
}
.tonai-chatnow-logo {
  position: relative;
  top: 0;
  left: 90px;
}

.section-header-hr {
  border-top: 3px solid #8C55FD;
  width: 50px;
}
.document-download-int {
  position: relative;
  top: 0;
  left: 128px;
}
.document-download-train {
  position: relative;
  top: 0;
  left: 98px;
}
.document-download-multi {
  position: relative;
  top: 0;
  left: 128px;
}

.find-aws.p-button{
  height: 87px;
  padding: 16px;
  background-image: url(/images/ai-chatbox-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;  
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}
.find-help.p-button{
  height: 87px;
  padding: 16px;
  background-image: url(/images/ai-chatbox-pink.svg);
  background-repeat: no-repeat;
  background-size: cover;  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}

.your-sessions{
 color: #FFF;
 font-family: Montserrat;
 font-size: 20px;
 font-style: normal;
 font-weight: 700;
 margin-bottom:20px

}
 .custom-input .p-inputtext {
  /* Default for very large screens */
  padding: 0.417vw 0.625vw;
  font-size: 0.729vw;
  border-radius: 0.417vw;
  border-color: #BBC1C7;
}
.custom-input.p-multiselect {
    border-radius: .417vw !important;
    height: 1.875vw !important;
    padding: .417vw .625vw !important;
    font-size: .729vw !important;
    border-color: #BBC1C7 !important;
}
.custom-input .p-multiselect:not(.p-disabled):hover {
    border-color: #BBC1C7 !important;
}
.custom-input .p-multiselect:not(.p-disabled).p-focus {
    outline-offset: 0;
    border-color: #BBC1C7 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem transparent ;

}
.custom-input{
  .p-multiselect .p-multiselect-label {
    padding: 0 !important;
   
  }
  
  .p-multiselect.p-multiselect-chip .p-multiselect-token {
    background: transparent;

  }
  .p-multiselect.p-multiselect-chip .p-multiselect-token{
    margin-bottom:0.5rem;
  }
   .p-icon {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.custom-input .p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
    position: absolute;
    bottom: -5px;
}

.custominputDisabled.p-inputtext {
  /* Default for very large screens */
  padding: 0.417vw 0.625vw;
  font-size: 0.729vw;
  border-radius: 0.417vw;
  border-color: #BBC1C7;
  background-color: #E5E7EB;
}
.custom-dropdown .p-inputtext,
.custom-dropdown .p-dropdown
{
   
  font-size: 14px;
  border-color: #BBC1C7;
  border-radius: 0.417vw;
}

.custom-dropdown .p-inputtext
{
   padding: 6px 10px;
  font-size: 14px;
  border-color: #BBC1C7;
  border-radius: 0.417vw;
}

/* MOBILE (SM) — 360px to 640px */
@media (max-width: 640px) {
  .custom-input .p-inputtext {
    padding: 6px 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 7px;
  }
  .custom-input .p-multiselect {
    padding: 6px 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 7px;
    border-color: #BBC1C7 !important;
  }
}

/* TABLET (MD) — 641px to 768px */
@media (min-width: 641px) and (max-width: 768px) {
  .custom-input .p-inputtext {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 7px;
    
  }
  .custom-input .p-multiselect {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 7px;
    height: 32px;
    border-color: #BBC1C7 !important;
    
  }
  .custom-dropdown .p-inputtext
{
   padding: 6px 10px;
  font-size: 14px;
  border-color: #BBC1C7;
  border-radius: 0.417vw;
}
}

/* SMALL LAPTOP (LG) — 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .custom-input .p-inputtext {
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 7px;
  }
    .custom-input .p-multiselect {
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 7px;
    height: 32px;
    border-color: #BBC1C7 !important;
  }
  .custom-dropdown .p-inputtext
{
   padding: 6px 10px;
  font-size: 13px;
  border-color: #BBC1C7;
  border-radius: 0.417vw;
}
}

/* DESKTOP (XL) — 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .custom-input .p-inputtext {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 7px;
  }
   .custom-input .p-multiselect {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 7px;
    height: 32px;
    border-color: #BBC1C7 !important;
  }
  .custom-dropdown .p-inputtext
{
   padding: 6px 10px;
  font-size: 13px;
  border-color: #BBC1C7;
  border-radius: 7px;
}
.find-aws.p-button{
   height: 90px;
  display: flex;
  justify-content:center;
  padding: 16px;
  background-image: url(/images/ai-chatbox-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;  
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}
.find-help.p-button{
  height: 90px;
  display: flex;
  justify-content:center;
  padding: 16px;
  background-image: url(/images/ai-chatbox-pink.svg);
  background-repeat: no-repeat;
  background-size: cover;  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}
}

/* LARGE DESKTOP (2XL) — 1281px to 1536px */
@media (min-width: 1281px) and (max-width: 1536px) {
  .custom-input .p-inputtext {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 0.417vw;
  }
  .custom-input .p-multiselect {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 0.417vw;
    height: 32px;
    border-color: #BBC1C7 !important;
  }
  .custom-dropdown .p-inputtext
{
   padding: 6px 10px;
  font-size: 13px;
  border-color: #BBC1C7;
  border-radius: 7px;
}
.find-aws.p-button{
   height: 90px;
  display: flex;
  justify-content:center;
  padding: 16px;
  background-image: url(/images/ai-chatbox-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;  
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}
.find-help.p-button{
  height: 90px;
  display: flex;
  justify-content:center;
  padding: 16px;
  background-image: url(/images/ai-chatbox-pink.svg);
  background-repeat: no-repeat;
  background-size: cover;  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}
}

/* ULTRA DESKTOP (3XL) — 1537px+ */
@media (min-width: 1537px) {
  .custom-input .p-inputtext {
    padding: 0.417vw 0.625vw;
    height: 1.875vw;
    font-size: 0.729vw;
    border-radius: 0.417vw;
  }
  .custom-input .p-multiselect {
    padding: 0.417vw 0.625vw;
    height: 1.875vw;
    font-size: 0.729vw;
    border-radius: 0.417vw;
    border-color: #BBC1C7 !important;
  }
  .custom-dropdown .p-inputtext
{
   padding: 8px 10px;
  font-size: 14px;
  border-color: #BBC1C7;
  border-radius: 0.417vw;
}
.find-aws.p-button{
   height: 87px;
  display: flex;
  justify-content:center;
  padding: 16px;
  background-image: url(/images/ai-chatbox-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;  
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}
.find-help.p-button{
  height: 87px;
  display: flex;
  justify-content:center;
  padding: 16px;
  background-image: url(/images/ai-chatbox-pink.svg);
  background-repeat: no-repeat;
  background-size: cover;  padding: 10px 20px;
  background-color: transparent;
  border-radius: 8px;
  color:#171717;
  border: 0px

}
}


.active-day {
  color: #3C4146;
  text-align: center;
  font-size: 16.8px;
  font-style: normal;
  font-weight: 800;
}
.inactive-day {
  font-size: 14px;
  font-weight: 400;
}
.active-date {
  color:  #3C4146;
  text-align: center;
  font-size: 22.4px;
  font-style: normal;
  font-weight: 800;
}
.inactive-date {
  font-size: 18px;
  font-weight: 700;
}
.calendar-legend-Personal-btns {
  color: #046C4E; 
  background: #DEF7EC;
  border: 1px solid transparent;
  border-radius:5.415px;
  font-weight:400;
  font-size: 11px;
}
.font700{
  font-weight: 700;
}
.font500{
   font-weight: 500;
}
.custom-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
}
@media (min-width: 1400px) {
  .responsive-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1800px) {
  .responsive-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 2200px) {
  .responsive-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}


/* Calendar start */
.full-calendar-sec .fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 0;
}
.full-calendar-sec .fc .fc-multimonth-title{
    background: #F5F6F7;
    text-align: left;
    padding: 0.417vw 1.67vw;
    font-size: 1.04vw;
    font-weight: 500;
    font-family: Inter;
    color: #374151;
    margin-bottom: 0.730vw;
    border-radius: 8px;    
}
.full-calendar-sec .fc-multimonth-month{
    margin-bottom: 1.67vw;
}
.full-calendar-sec .fc-multimonth-month:last-child{
    margin-bottom: 0;
}
.full-calendar-sec .fc .fc-multimonth{
    border: 0;
}
.full-calendar-sec .fc .fc-multimonth-singlecol .fc-multimonth-header-table{
    /* border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6; */
}
.full-calendar-sec .fc .fc-multimonth-singlecol .fc-multimonth-daygrid{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.full-calendar-sec .fc .fc-daygrid-event{
    padding: 3px 8px;
}
/* .fc-timegrid-event-harness > .fc-timegrid-event */
.full-calendar-sec .fc .fc-timegrid-event{
    padding: 3px 8px;
}
.full-calendar-sec .fc-h-event .fc-event-title{
    text-overflow: ellipsis;
}
.full-calendar-sec .fc.fc-theme-standard .fc-view-harness td{
    /* background: #fff; */
}
.full-calendar-sec .fc .fc-daygrid-day.fc-day-today{
    background: #fff;
}
.full-calendar-month .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid.fc-scrollgrid-liquid{
    border: 0;
}
.full-calendar-month .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid.fc-scrollgrid-liquid .fc-scrollgrid-section-header > th{
    border: 0;
}
.full-calendar-month .fc .fc-scroller-harness .fc-scrollgrid-sync-table{
    border-left: 1px solid #E5E7EB;
}
.full-calendar-month .fc.fc-theme-standard .fc-view-harness th.fc-col-header-cell{
    background: #fff;
    border: 0;
    border-bottom: 1px solid #E5E7EB;
    font-weight: normal;
    color: #4B586E;
    font-size: 12px;
}
.full-calendar-month .fc .fc-scroller-harness{
    overflow: visible;
}
.full-calendar-month .fc .fc-scroller-liquid-absolute{
    overflow: visible !important;
}
.full-calendar-month .fc-dayGridMonth-view{ padding-left: 60px;}
.full-calendar-month .fc-direction-ltr .fc-daygrid-week-number{
    left: -55px;
    background: none;
    color: #4B586E;
    font-size: 12px;
    top: 48px;
    width: 50px;
}
.full-calendar-month .fc .fc-daygrid-day-number{
    color: #4B586E;
    font-size: 13px;
}
.full-calendar-month .fc .fc-toolbar.fc-header-toolbar, .full-calendar-week .fc .fc-toolbar.fc-header-toolbar{
    background: #F5F6F7;
    text-align: left;
    /* padding: 0.417vw 1.67vw; */
    /* margin-bottom: 0.730vw; */
    border-radius: 8px;    
}
.full-calendar-month .fc .fc-toolbar-title, .full-calendar-week .fc .fc-toolbar-title{
    font-size: 1.04vw;
    font-weight: 500;
    font-family: Inter;
    color: #374151;
}
.full-calendar-month .fc.fc-theme-standard .fc-toolbar .fc-eventmonth-button{
    background: none;
    padding: 0;
    border: 0;
    color: rgba(55, 65, 81,0.5);
    font-size: 14.44px;
    font-style: italic;
    font-weight: 500;
}
.full-calendar-month .fc.fc-theme-standard .fc-toolbar .fc-eventmonth-button:enabled:hover{
    background: none;
    outline: none;
    border: 0;
    color: rgba(55, 65, 81,0.5);
}
.full-calendar-month .fc .fc-daygrid-day-frame{
    padding: 11px;
}
.full-calendar-month .fc .fc-daygrid-day-top{
    flex-direction: row;
}
.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button.fc-eventweek-button{
    background: none;
    padding: 0;
    border: 0;
    color: #A93439;
    font-size: 16px;
    font-weight: 500;
    margin: 0 16px;
}
.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button.fc-eventweek-button:enabled:hover{
    background: none;
    outline: none;
    border: 0;
    color: #A93439;
}

.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button{
    border: 1.5px solid #9CA1AB;
    background: none;
    color: #9CA1AB;
    border-radius: 100% !important;
}
.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:first-child{
    border-radius: 100%;
}
.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button:enabled:hover{
    background: #A93439;
    border-color: #A93439;
    color: #fff;
}
.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left, .full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right{
    margin-top: -3px;
}
.full-calendar-week .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid{
    border: 0;
}

.full-calendar-week .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid-section-header th{
    background: none;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}
.full-calendar-week .fc.fc-theme-standard .fc-view-harness th .fc-col-header-cell-cushion{
    font-weight: 500;
    font-size: 12px;
    color: #4B586E;
}
.full-calendar-week .fc .fc-timegrid-axis-cushion, .full-calendar-week .fc .fc-timegrid-slot-label-cushion{
    font-weight: 500;
    font-size: 12px;
    color: #4B586E;
    padding: 0 8px;
}
.full-calendar-week .fc-direction-ltr .fc-timegrid-slot-label-frame{
    text-align: center;
}
/* .full-calendar-week .fc .fc-timegrid .fc-daygrid-body .fc-scrollgrid-sync-table{
    border-right: 1px solid #E5E7EB;
} */
.full-calendar-week .fc.fc-theme-standard .fc-view-harness td .fc-daygrid-day-frame{
    border-top: 1px solid #E5E7EB;  
    border-bottom: 1px solid #E5E7EB;
}
.full-calendar-week .fc.fc-theme-standard .fc-scrollgrid-section-body > td{
    border-bottom: 0;
}
/* .full-calendar-week .fc.fc-theme-standard .fc-scrollgrid-section-body.fc-scrollgrid-section-liquid > td{
    border-bottom: 1px solid #E5E7EB;
} */
/* .full-calendar-week .fc.fc-theme-standard .fc-scrollgrid-section-body td .fc-daygrid-body .fc-daygrid-day{
    border-bottom: 1px solid #E5E7EB;
} */
.full-calendar-week .fc.fc-theme-standard .fc-view-harness td.fc-timegrid-divider{
    border-bottom: 0;
}
.full-calendar-week .fc.fc-theme-standard .fc-view-harness td.fc-timegrid-slot-label{
    border-top: 0;
}
.full-calendar-week .fc.fc-theme-standard .fc-view-harness tr:nth-child(even) td.fc-timegrid-slot-lane{
    border-top: 0;
}

.full-calendar-week .fc.fc-theme-standard .fc-timegrid-cols .fc-timegrid-col{
    background: transparent;
    border-color: #E5E7EB;
}
.full-calendar-week .fc.fc-theme-standard .fc-timegrid-cols .fc-timegrid-col.fc-day .fc-timegrid-col-frame{
    border-bottom: 1px solid #E5E7EB;
}
.full-calendar-week .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
    min-height: 60px;
}
.full-calendar-week .fc .fc-timegrid-slot{
    height: 30px;
}
.full-calendar-listmonth .fc{
    padding: 16px;
    border: 1px solid #E5E7EB;
}
.full-calendar-listmonth .fc .fc-toolbar-title{
    font-size: 22px;
    margin-bottom: 20px;
}
.full-calendar-listmonth .fc.fc-theme-standard .fc-view-harness .fc-cell-shaded{
    background: #F5F6F7;
    padding: 8px 32px;
}
.full-calendar-listmonth .fc .fc-list-day-text{
    font-size: 18px;
    color: #374151;
    font-weight: 500;
}
.full-calendar-listmonth .fc.fc-theme-standard .fc-view-harness .fc-view{
    border: 0;
}
.full-calendar-listmonth .fc .fc-scroller-liquid .fc-list-day th{
    border: 0;
}
.full-calendar-listmonth .fc .fc-scroller-liquid .fc-event td{
    border: 0;
}
.full-calendar-listmonth .fc .fc-scroller-liquid .fc-event+.fc-event td{
    border-top: 1px solid #E5E7EB;
}
.full-calendar-listmonth .fc .fc-list-event > td{
    padding: 10px 12px;
}
.full-calendar-listmonth .fc .fc-list-event > td:first-child{
    padding-left: 40px;
    color: #A93439;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.tableCust span.p-dropdown-label.p-inputtext {
  font-size: 14px !important;
  padding-top: 6px;

}
.full-calendar-listmonth .fc .fc-list-event > td:first-child:before {
    content: "";
    background: #F6EAEB;
    height: 28px;
    display: block;
    margin-bottom: -25px;
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 20px;
}
.full-calendar-listmonth .fc .fc-list-event > td:last-child{
    padding-right: 32px;
}
.full-calendar-listmonth .fc .fc-list-event > td.fc-list-event-title{
    padding-left: 0;
    font-size: 16px;
    font-weight: 500;
    color: #374151;
}
.full-calendar-listmonth .fc tr.fc-list-day .fc-list-day-side-text{
    display: none;
}

.full-calendar-listmonth .fc .fc-list-event:hover td{
    background: #fff;
}
.full-calendar-listmonth .fc .fc-list-event-dot{
    border-width: 7px;
    border-radius: 100%;
    /* border-color: #2D4F49; */
}
/* Scroll bar */
.full-calendar-sec ::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
}

/* Track */
.full-calendar-sec ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.full-calendar-sec ::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.full-calendar-sec ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.full-calendar-sec ::-webkit-scrollbar-thumb:horizontal{
    background: #6c6c6c;
    border-radius: 10px;
}
.full-calendar-sec .fc-daygrid-event{
    white-space: normal;
}
/* Calendar end */

.verified-text {
  color: #019049;
}