.custom-gradient.custom-gradient:hover {
  border-radius: var(--Border-Radius-none, 0);
  background: linear-gradient(
    90deg,
    rgba(33, 45, 61, 0) 0.37%,
    rgba(255, 233, 67, 0.52) 31.59%,
    rgba(78, 220, 63, 0.52) 65.17%,
    rgba(36, 49, 67, 0) 98.75%
  ) !important;
  backdrop-filter: blur(32px);
  height: auto;
}
.custom-gradient {
  border-radius: var(--Border-Radius-none, 0);
  background: linear-gradient(
    90deg,
    rgba(33, 45, 61, 0.04) 0.37%,
    rgba(255, 233, 67, 0.42) 38.73%,
    rgba(78, 220, 63, 0.42) 60.06%,
    rgba(36, 49, 67, 0.04) 98.75%
  );
  backdrop-filter: blur(32px);
}

.topdropdown.p-dropdown {
  background: transparent;
  border: none;
  border-radius: none;
  font-size: 12px;
}
.topdropdown .p-dropdown-label.p-inputtext  {
  background: transparent;
  border: none;
  border-radius: none;
   font-size: 13px;
  padding:5px !important;
  color: #fff !important;
  font-weight: 500;
}
.topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
  color: #fff;
  font-size: 12px;
  padding: 0px;
}
.topdropdown .p-dropdown:not(.p-disabled):focus {
  border-color: none;
  box-shadow: none;
}
.topdropdown.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-focus {
  border-color: none;
  box-shadow: none;
}
.topdropdown .p-icon {
  width: 0.7rem;
  height: 0.7rem;
  color: #fff;
}
.topdropdown.p-dropdown .p-dropdown-trigger {
  color: rgb(107, 114, 128);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 1rem;
  background: none;
}
.customsignin-gradient {
 background: linear-gradient(178deg, #be92f836 8.9%, #ffc20000 79.12%);
}

.custominput.p-inputtext {
  background: rgb(255, 255, 255);
  border: 1px solid var(--Interface-Stroke-default);
  border-radius: 6px;
  outline-color: rgba(0, 0, 0, 0);
  padding: 0.75rem;
  font-size: 14px;
  box-shadow: none;
  padding: 10px 12px;
  color: var(--Interface-Text-title1);
}

.customcheckox.p-checkbox .p-checkbox-input {
  border: 1px solid #d1d5db;
  border-radius: 5px;
}
.customcheckox.p-checkbox .p-checkbox-box {
  color: #4b5563;
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  outline-color: #0000;
  width: 18px;
  height: 18px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
.customcheckox.p-checkbox.p-highlight .p-checkbox-box {
  background: #645592;
  border-color: #645592;
}
.customsidebar.p-sidebar .p-sidebar-header {
  padding: 0 !important;
}
.customsidebar.p-sidebar .p-sidebar-content {
  padding: 0 !important;
}

.p-sidebar-left .p-sidebar {
  width: 90vw !important;
  height: 100%;
}
/* .customsidebar .p-sidebar-close {
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background: url(/assets/icons/closecircle.svg) no-repeat center/cover;
  cursor: pointer;
  z-index: 2000;
  .p-icon {
    display: none;
  }
} */

/* .customsidebar.p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
  border-radius: 0px;
} */
.customMultipopupsidebar.p-sidebar .p-sidebar-header {
  display:none !important;
  padding: 0 !important;
}
.customMultipopupsidebar.p-sidebar .p-sidebar-header + .p-sidebar-content {
  padding-top: 0 !important;

}
.customMultipopupsidebar{
   .p-icon {
    display: none;
  }
}
.customsidebar .p-sidebar-content {
  overflow: hidden !important;
}
.customsidebar.p-sidebar-close-icon {
  display: none !important;
}
.customsidebar.p-sidebar .p-sidebar-header .p-sidebar-close:focus-visible,
.p-sidebar .p-sidebar-header .p-sidebar-icon:focus-visible {
  box-shadow: 0 0 0 0 transparent;
}
.customsidebar.p-link:focus-visible {
  outline-offset: 0;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}
.customsidebar .p-sidebar {
  width: 90vw !important;
  max-width: 100rem;
  border-radius: 0 32px 32px 0;
  overflow: hidden;
}
.customsidebar .catalog-left {
  width: 350px;
}


.closecustomsidebar.p-sidebar .p-sidebar-header .p-sidebar-close.p-sidebar-icon  
{
 background-image: url(/images/closecircle.svg) !important;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100px !important;
    height: 100px !important;
}
.customsidebar.p-sidebar .p-sidebar-header .p-sidebar-close.p-sidebar-icon {
  position: absolute;
  right: -100px;
  top: 50%;
  bottom: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;

  font-family: "austin" !important;
  content: "\e80c" !important;
  background-image: url(/images/Close-button.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.427vw;
  /* color: #687885; */
  color: #42536d;
  content: "";
  width: 68px;
  height: 68px;
  display: block;
   .p-icon {
    display: none;
  }
}

.customsidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
  color: #42536d;
  border-color: transparent;
  background: transparent;
  background-image: url(/images/Close-button.png);
  position: absolute;
  right: -100px;
  top: 50%;
  bottom: 50%;
  width: 68px;
  height: 68px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.427vw;
}
.customsidebar.p-sidebar .p-sidebar-header .p-sidebar-close,
.customsidebar.p-sidebar .p-sidebar-header .p-sidebar-icon {
  border-radius: 0px;
}

.customsidebar.p-sidebar .p-sidebar-header{
  padding: 0px;
  
}
.customsidebar.p-sidebar .p-sidebar-right .p-sidebar{
  width: 100%;
  border-radius: 6px 0px 12px 10px;
}

.customsidebar.p-sidebar .p-sidebar-header + .p-sidebar-content{
  padding: 0% !important;
  background-color: #fff;
  border-radius: 10px 0px 0px 10px !important;
}
.customsidebar.p-sidebar .p-sidebar-content {
  padding: 0% !important;
  background-color: #fff;
}
.customSearchInput.p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  color: #4b5563;
  appearance: none;
  background: transparent !important;
  border: 0px solid transparent !important;
  border-radius: 0;
  outline-color: #0000;
  padding: 0.35rem !important;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.customSearchInput.p-inputtext:enabled:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 0.2rem transparent !important;
  color: #111827;
  background: #fff;
}
.supportSearchInput{
  color: white !important;
  appearance: none;
  border-color: rgba(66, 83, 109, 0.15);
  /* backdrop-filter: blur(27px); */
  background: transparent;
  outline-color: #0000;
  padding: 1rem !important;
  font-size: 18px;
  font-family: 'Inter';
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
.search-input {
  border: 1px solid rgba(66, 83, 109, 0.15);
  background: linear-gradient(91deg, rgba(255, 233, 67, 0.22) 5.05%, rgba(66, 219, 62, 0.22) 97.08%);
  box-shadow: 0 4px 64px 0 rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(27px);
  color:white;
}
.supportSearchInput.p-inputtext:enabled:hover {
    border-color: rgba(66, 83, 109, 0.15);
}
.supportSearchInput::placeholder {
  color: rgba(255, 255, 255, 0.9) !important;
  opacity: 1 !important;
}
.supportSearchInput.p-inputtext:enabled:focus {
    outline-offset: 0;
    border-color: rgba(66, 83, 109, 0.15);
    outline: 0;
    box-shadow: 0 0 0 .2rem #0000;
}
.customCatalogButton.p-button {
  color: #7f8488;
  background: #F5F6F7;
  border: 1px solid #E5E7EB;
  padding: 0.53rem 0.55rem;
  font-size: 12px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
.catalog-tabs.p-tabmenu{
  color: #7f8488;
  background: #F5F6F7;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
}
.catalog-tabs.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #8078b9 !important;
    color: #fff !important;
    border-radius: 12px;
    border-color:transparent
}
.catalog-tabs.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
    color: #6c757d;
    background: #fff;
    border-color: transparent;
}
.catalog-tabs.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding:0.50rem;
  font-size:11px;
  /* border-bottom: */
}
.customCatalogButton.p-button.active {
  background: #8078b9 !important;
  color: #fff !important;
}
.customCatalogButton.p-button:focus {
  background: #8078b9 !important;
  color: #fff !important;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px transparent;
}
.customAccordian.p-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  margin-right: 0.5rem;
  display: none;
}

.customAccordian.p-accordion .p-accordion-header .p-accordion-header-link {
  color: #6b7280;
  background:transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e5e7eb !important;
  border-radius: 6px;
  padding: 0.75rem;
  font-weight: 400;
  font-size: 16px;
  transition: box-shadow 0.2s, color 0.2s;
}
.customAccordian.p-accordion .p-accordion-content {
  color: #4b5563;
  background: #fff;
  border: 0px solid transparent !important;
  border-radius: 0 0 6px 6px;
  padding: 1.25rem;
}
.customAccordian.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus-visible {
  outline: none !important;
  box-shadow: 2px 0px 4px #e5e7eb, 0px 2px 4px #e5e7eb;
}
.customAccordian.p-accordion
  .p-accordion-header.p-highlight
  .p-accordion-header-link {
  /* box-shadow: 2px 0px 4px #e5e7eb, 0px 2px 4px #e5e7eb; */
  background: transparent;
  color: #8078b9 !important;
}
.customAccordian.p-accordion .p-accordion-tab {
  margin-bottom: 10px;
}
.p-tabmenu .p-tabmenu-nav 
{
  border-width: 0 !important;
}

.customBreadcrumbs.p-breadcrumb {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0;
}

.customDropdown.p-dropdown {
  background: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 12px;
}

.customDropdown.p-dropdown .p-dropdown-label.p-placeholder {
  color: #7f8488;
  padding: 6px !important;
  font-size: 12px;
}
.customDropdown.p-dropdown:not(.p-disabled):focus {
  border-color: none;
  box-shadow: none;
}
.customDropdown.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-focus {
  border-color: none;
  box-shadow: none;
}
.customDropdownPanel.p-dropdown-panel .p-dropdown-items {
  padding: 0px !important;
}
.customDropdown.p-dropdown .p-dropdown-trigger {
  color: rgb(107, 114, 128);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  /* width: 1rem; */
  background: none;
}
.customDropdown .p-dropdown-label.p-inputtext {
  padding: 6px !important;
  font-size: 14px;
}

.customDropdownPanel.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item.p-highlight {
  color: #4b5563;
  background: #eff6ff;
}
.customDropdownPanel.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item.p-highlight.p-focus {
  background: #d1d5db;
  outline: transparent;
}
.customDropdownPanel .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {

  padding: 4px 12px !important;
}

.customDropdownPanel .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus{
  padding: 4px 12px !important;
}
.customDropdownPanel .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #4b5563;
  background: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  transition: box-shadow 0.2s;
  font-size: 13px !important;
  padding: 4px 16px;
}
.customDropdownPanel .p-dropdown-item{
  font-size: 13px !important;
}
.customInputText.p-inputtext {
  border-left: 0;
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
  padding: 1px !important;
}

.customSearchButton.p-button.p-button-warning {
  color: #7f8488;
  background: white;
  border-right: 0;
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
  padding: 5px !important;
}
.customSearchButton.p-button {
  color: #7f8488;
  background: white;
  border-left: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  border-right: 0;
  padding: 5px !important;
  .pi {
    font-size: 12px;
  }
  .p-button:focus {
    outline: none !important;
    outline-offset: none;
    box-shadow: transparent !important;
  }
}

.p-button:focus {
  box-shadow: 0 0 0 2px transparent, 0 0 0 4px transparent,
    0 1px 2px transparent !important;
}
.p-inputtext:enabled:focus {
  outline-offset: 0;
  border-color: #d1d5db;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent;
}

.sector-card.p-card .p-card-body {
  padding: 0 !important;
}
.advertising-card.p-card .p-card-body {
  padding: 0 !important;
}
.advertising-card.p-card .p-card-content {
  padding: 0;
}

.customsidebar2.p-sidebar .p-sidebar-header .p-sidebar-close.p-sidebar-icon {
    color: rgb(66, 83, 109);
    background-image: url(/images/Close-button.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 68px;
    height: 68px;
    font-size: 6.427vw;
    display: block;
    position: absolute;
    top: 50%;
    bottom: 57%;
    left: -100px;
    content: "" !important;
    font-family: austin !important;
}

/* .customsidebar2.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
  color: #42536d;
  border-color: transparent;
  background: transparent;
  background-image: url(/images/Close-button.png);
  position: absolute;
  left: -75px;
  top: 50%;
  bottom: 50%;
  width: 62px;
  height: 55px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.427vw;
} */
.customsidebar2.p-sidebar .p-sidebar-header .p-sidebar-close,
.customsidebar2.p-sidebar .p-sidebar-header .p-sidebar-icon {
  border-radius: 0px;
}

.customsidebar2.p-sidebar .p-sidebar-header{
  padding: 0px;
  
}
.customsidebar2.p-sidebar .p-sidebar-right .p-sidebar{
  width: 100%;
  border-radius: 6px 0px 12px 10px;
}

.customsidebar2.p-sidebar .p-sidebar-header + .p-sidebar-content{
  padding: 0% !important;
  background-color: #fff;
  border-radius: 10px 0px 0px 10px !important;
}
.customsidebar2.p-sidebar .p-sidebar-content {
  padding: 0% !important;
  background-color: #fff;
}
.custTable.p-datatable .p-sortable-column-icon.pi-sort-alt {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}
.custTable.p-datatable-tbody .p-checkbox.p-component {
  width: 16px;
  height: 16px;
}
.custTable.p-datatable-tbody .p-checkbox.p-component {
  width: 16px;
  height: 16px;
}
.custTable.p-datatable-tbody .p-checkbox .p-checkbox-box {
  border: 1px solid #9ca3af;
  /* background: #ffffff; */
  width: 16px !important;
  height: 16px !important;
  color: #495057;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
.custTable.p-datatable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 8px;
}
.custTable.p-datatable .p-datatable-thead > tr > th {
  font-weight: 500;
   color: #2C363F;
   font-size: 12px !important;
   font-family: 'Inter', sans-serif;
    padding: 10px 14px;
}
.custTable.p-datatable .p-datatable-tbody > tr > td {
  color: #2C363F;
  font-size: 13px !important;
  padding: 14px 14px;
  border-bottom: none !important;
   font-family: 'Inter', sans-serif;
   font-weight: 400 !important;
}
/* Fix PrimeReact header wrapper */
.custTable th .p-column-header-content {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.custTable th .p-column-header-content .header-menu {
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.action-shadow-table {
  /* box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1); */
  box-shadow: none !important;
}
.custTable.p-datatable.p-datatable-selectable
  .p-datatable-tbody
  > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
  background: #f9f9fc;
  color: #2C363F;
}
.custTable.p-datatable .pi-filter-icon.pi-filter,
.custTable.p-datatable .p-sortable-column-icon.pi-sort-alt {
  color: #424242;
  font-size: 12px;
  font-weight: 500;
}
.custTable.p-datatable .p-sortable-column-icon {
  width: 10px;
  height: 10px;
}

.custTable.p-datatable .p-datatable-odd {
  background-color: #F6F7F8 !important;
}

.custTable.p-datatable .p-datatable-even {
  background-color: #ffffff !important;
}


.start-test-drive.p-button {
    color: #fff;
    background: #5D9D4A;
    border: 1px solid #5D9D4A;
    border-radius: 25px;
    padding: .75rem .75rem;
    font-size: 16px;
    font-weight: 400;;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
}
.start-test-drive.p-button-label {
 font-size: 16px !important;
}
.aws-website.p-button {
    color: #7F8488;
    background: transparent;
    border: 1px solid #BBC1C7;
    border-radius: 30px;
    padding: .75rem .75rem;
    font-size: 12px;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
}
.start-test-drive.p-button .p-button-icon-left {
    background: url(/assets/icons/arrow-right.svg) no-repeat center/cover;
  background-size: contain; 
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  width: 30px;
  border-radius: 8px;
}

.custom-icon-button.p-button .p-button-icon-left{
  background: url(/assets/icons/export-aws-website.svg) no-repeat center/cover;
  background-size: contain; 
  padding-left: 10px;
  padding-right: 10px;
  height: 15px;
  width: 15px;
  border-radius: 8px;

}
.customMultipopupsidebar.p-sidebar .p-sidebar-content {
    padding: 0 !important;
}

.customAichatboxsidebar.p-sidebar .p-sidebar-header .p-sidebar-close.p-sidebar-icon {
  position: absolute;
  left: 15px;
  top: 15px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;

  font-family: "austin" !important;
  content: "\e80c" !important;
  background-image: url(/assets/icons/arrowleft.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.427vw;
  color: #42536d;
  content: "";
  width: 20px;
  height: 20px;
  display: block;
}

.customAichatboxsidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.customAichatboxsidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
  color: #42536d;
  border-color: transparent;
  background: transparent;
  background-image: url(/assets/icons/arrowleft.svg);
  position: absolute;
  left: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.427vw;
}

.customAichatboxsidebar.p-sidebar .p-sidebar-header .p-sidebar-close,
.customAichatboxsidebar.p-sidebar .p-sidebar-header .p-sidebar-icon {
  border-radius: 0px;
}

.customAichatboxsidebar.p-sidebar .p-sidebar-header{
  padding: 0px;
  
}
.customAichatboxsidebar.p-sidebar .p-sidebar-right .p-sidebar{
  width: 100%;
  border-radius: 6px 0px 12px 10px;
}

.customAichatboxsidebar.p-sidebar .p-sidebar-header + .p-sidebar-content{
  padding: 0% !important;
  background-color: #fff;
  border-radius: 10px 0px 0px 10px !important;
}
.customAichatboxsidebar.p-sidebar .p-sidebar-content {
  padding: 0% !important;
  background-color: #fff;
}

.customSchedulesidebar.p-sidebar .p-sidebar-header .p-sidebar-close.p-sidebar-icon {
  position: absolute;
  left: -75px;
  top: 50%;
  bottom: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;

  font-family: "austin" !important;
  content: "\e80c" !important;
  background-image: url(/images/Close-button.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.427vw;
  /* color: #687885; */
  color: #42536d;
  content: "";
  width: 62px;
  height: 55px;
  display: block;
}

.customSchedulesidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.customSchedulesidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
  color: #42536d;
  border-color: transparent;
  background: transparent;
  background-image: url(/images/Close-button.png);
  position: absolute;
  left: -75px;
  top: 50%;
  bottom: 50%;
  width: 62px;
  height: 55px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.427vw;
}
.customSchedulesidebar.p-sidebar .p-sidebar-header .p-sidebar-close,
.customSchedulesidebar.p-sidebar .p-sidebar-header .p-sidebar-icon {
  border-radius: 10px !important;
}

.customSchedulesidebar.p-sidebar .p-sidebar-header{
  padding: 0px;
  
}
.customSchedulesidebar.p-sidebar .p-sidebar-right .p-sidebar{
  width: 100%;
  border-radius: 6px 0px 12px 10px;
}

.customSchedulesidebar.p-sidebar .p-sidebar-header + .p-sidebar-content{
  padding: 20px !important;
  background-color: #F5F6F7;
  border-radius: 10px 0px 0px 10px !important;
}
.customSchedulesidebar.p-sidebar .p-sidebar-content {
  padding: 0% !important;
  background-color: #F5F6F7;;
}
.scheduleSession {
color: #212325;
font-size: 24px;
font-weight: 600;
}



.tableCustRed .p-paginator {
  justify-content: end;
  border: 0;
  padding: 0;
  padding: 16px;
}
.paginatorCust .p-paginator {
  justify-content: end;
  border: 0;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 10px;
}
.p-paginator .p-paginator-current {
  margin-right: auto;
}
.tableCustRed .p-paginator .p-paginator-first,
.tableCustRed .p-paginator .p-paginator-prev,
.tableCustRed .p-paginator .p-paginator-next,
.tableCustRed .p-paginator .p-paginator-last,
.tableCustRed .p-paginator .p-paginator-pages .p-paginator-page {
  border: 1px solid #d3d3ce;
  border-radius: 0;
  width: 31px;
  height: 33px;
  margin: 0;
  min-width: inherit;
  font-size: 14px;
}
.tableCustRed .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  border: 1px solid #d3d3ce;
  background-color: #3b59ba;
  color: #ffffff;
  font-weight: 500;
}
.tableCustRed .p-link:focus {
  box-shadow: none;
}
.tableCustRed
  .p-paginator
  .p-paginator-pages
  .p-paginator-page:not(.p-highlight):hover,
.tableCustRed
  .p-paginator
  .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.tableCustRed
  .p-paginator
  .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.tableCustRed
  .p-paginator
  .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.tableCustRed
  .p-paginator
  .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background-color: #fff;
  border-color: #becde3;
}
.tableCustRed .p-paginator .p-paginator-prev {
  border-radius: 4px 0 0 4px;
}
.tableCustRed .p-paginator .p-paginator-next {
  border-radius: 0 4px 4px 0;
}

.tableCustRed .pi-angle-left:before {
  font-family: "Inter", sans-serif !important;
  content: "Previous" !important;
  font-size: 16px;
}
.tableCustRed .pi-angle-right:before {
  font-family: "Inter", sans-serif !important;
  content: "Next" !important;
  font-size: 16px;
}
.tableCustRed .p-paginator-pages button {
  font-size: 16px;
}
.custTable.p-datatable
  .p-datatable-thead
  > tr
  > th
  .p-column-filter-menu-button {
  width: 16px;
  height: 16px;
  border-radius: 0;
  /* display: none; */
}
.custTable.p-datatable
  .p-datatable-thead
  > tr
  > th
  .p-column-filter-menu-button::after {
   content: "\e917";
   font-family: "redington" !important;
  display: block;
  font-size: 14px;
}
.custTable.p-datatable
  .p-datatable-thead
  > tr
  > th
  .p-column-filter-menu-button {
  width: 20px;
  height: 20px;
  border-radius: 0;
  /* display: none; */
}
/* .custTable svg.p-icon {
    pointer-events: auto;
    display: none;
} */
.custfiltericon .p-column-filter-menu-button svg.p-icon {
display: none;
}
.custTable .filtericon{
  display: none;
}
.custTable.p-datatable
  .p-datatable-thead
  > tr
  > th
  .p-column-filter-menu-button::after {
   content: "\e917";
   font-family: "redington" !important;
  display: block;
  font-size: 15px;
  color: var(--Interface-Text-subtitle);
}
.custTable .p-column-filter-icon {
  display: none !important;
}
.custom-input1.p-inputtext {
  background: rgb(255, 255, 255);
  border: 1px solid #BECDE3;
  border-radius: 6px;
  outline-color: rgba(0, 0, 0, 0);
  padding: 0.75rem;
  font-size: 14px;
  box-shadow: none;
  padding: 8px 12px;
 
}
.custom-input1.p-inputtext:enabled:focus {
    outline-offset: 0;
    border-color: #BECDE3;
    outline: 0;
    box-shadow: 0 0 0 .2rem #0000;
}

.custTable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #F5F6F7 !important;   /* light blue */
}

.custTable .p-datatable-tbody > tr:nth-child(odd) {
  background-color: #ffffff !important;
}
.custTable.p-datatable-tbody > tr > td {
  border: none !important;
}
.custTable .p-datatable-thead > tr > th {
  color: #2C363F !important;   
  font-weight: 500;
}
.custTable.p-datatable-tbody > tr > td {
  color: #2C363F !important;  
  font-weight: 400;
}
/* custom paginator start */
.custTablePaginator .p-paginator {
    justify-content: end;
    border-radius: 0 0 12px 12px;
    padding: 16px;

}
.custTablePaginator .p-paginator .p-paginator-first, .custTablePaginator .p-paginator .p-paginator-prev, .custTablePaginator .p-paginator .p-paginator-next, .custTablePaginator .p-paginator .p-paginator-last, .custTablePaginator .p-paginator .p-paginator-pages .p-paginator-page {
    border: 1px solid #BECDE3;
    border-radius: 0;
    width: 31px;
    height: 33px;
    margin: 0;
    min-width: inherit;
    font-size: 14px;
}

.custTablePaginator .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    border: 1px solid var(--interface-stroke-default3);
    background-color: var(--brand-primary-100);
    color: #1570EF;
    font-weight: 500;
}
.custTablePaginator .p-link:focus {
    box-shadow: none;
}

.custTablePaginator .p-paginator .p-paginator-prev {
    border-radius: 4px 0 0 4px;
      width: 40px;
}
.custTablePaginator .p-paginator .p-paginator-next {
    border-radius: 0 4px 4px 0;
    width: 40px;
}

.custTable .p-column-filter-menu-button.p-column-filter-menu-button-open, .custTable .p-column-filter-menu-button.p-column-filter-menu-button-open:hover {
    color: #495057;
    background: transparent;
}

.custTable .p-column-filter-menu-button:hover{
  background: transparent;
}

 
/* .custTablePaginator .pi-angle-left:before{
    font-family: 'Inter', sans-serif !important;
    content: "Previous" !important;
    font-size: 16px;
}
.custTablePaginator .pi-angle-right:before {
    font-family: 'Inter', sans-serif !important;
    content: "Next" !important;
    font-size: 16px;
} */
.custTablePaginator .p-paginator-pages button {
    font-size: 16px;
}
.custTablePaginator .p-paginator-bottom{
    border: 0;
    border-top: 1px solid #F2EEEE;
    border-radius: 0 0 12px 12px;
    padding: 16px;
}
.custTablePaginator .p-paginator-current{
    position: absolute;
    left: 0;
    color: #27313B;
    font-weight: 400;
    font-size: 14px;
}
.custTablePaginator .p-paginator .p-dropdown{
    margin-right: 1rem;
    position: absolute;
    left: 190px;
    border: 1px solid #EAE0E0;
}
.custTablePaginator .p-dropdown .p-dropdown-trigger {
    width: 2rem;
}

.custTablePaginator .p-paginator .p-paginator-first{
    display: none;
}
.custTablePaginator .p-paginator .p-paginator-last{
   display: none;
}
.custTable .p-column-title {
  width: 100%;
}
.custTable .p-column-filter-clear-button.p-link.p-hidden-space{
  display: none !important;
}

/* custom paginator end */

.custDropdown1 .p-inputtext {
  padding: 0.2rem;
  font-size: 14px;
  background-color: var(--interface-surface-component-muted);;
}
.custDropdown1.p-dropdown  {
  padding: 0.3rem 0.8rem;
  font-size: 14px;
  background-color: var(--interface-surface-component-muted);
 border-radius: 8px;
 border: 1px solid var(--interface-stroke-default3);
}
.custDropdown1 .p-icon {
  width: 0.7rem;
  height: 0.7rem;
  color: var(--Interface-Text-subtitle);
}
.custDropdown1.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-focus {
  border-color: none;
  box-shadow: none;
}
.custDropdown1panel .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: var(--interface-text-default2);
    background: #e9ecef;
    padding: 4px 16px;
}
.custDropdown1panel .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      color: var(--interface-text-default2);
    background: #e3f2fd;
     font-size: 13px !important;
    padding: 4px 16px;
}
.custDropdown1panel .p-dropdown-item-label{
  font-size: 13px !important;

}
.customicon .p-icon {
  width: 0.8rem;
  height: 0.8rem;
  color: var(--Interface-Text-subtitle);
}
.schedule-status-btn{
border-radius: 4px;
border: 1px solid #E8F4E4;
background:  #E8F4E4;
color:  #3B662F;
text-align: center;
font-family: 'Roboto';
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */
}
.support-session-label{
  font-weight: 500;
  font-size: 15px;
}
.dropdown-support-session.p-dropdown {
    background: #fff;
    border: 1px solid #BBC1C7 !important;
    border-radius: 6px !important;
    outline-color: #0000;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
}
.dropdown-support-session.p-dropdown:not(.p-disabled):hover {
    border-color: #BBC1C7 !important;
}
.dropdown-support-session.p-dropdown:not(.p-disabled).p-focus {
    border-color: #BBC1C7 !important;
    box-shadow: 0 0 0 0.2rem transparent !important;
}
.datepicker.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
    outline-offset: 0;
    border-color: #BBC1C7 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem transparent;
}
.datepicker{
  .p-inputtext{
 border-radius: 6px !important;
  }
  .p-inputtext:enabled:hover {
    border-color: #BBC1C7;
}
}
.description-textarea.p-inputtext{
  border-radius: 6px !important;
}
.description-textarea.p-inputtext:enabled:hover {
    border-color: #BBC1C7;
}
.submit-btn {
color: #FFF;
border-radius: 6px;
background: #645592;
border: #645592;
font-size: 14px;
font-style: normal;
font-weight: 500;
}
.cancel-btn {
color: #3C4146;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 16px */
border-radius: 6px;
border: 1px solid #E5E7EB;
background: linear-gradient(180deg, rgba(100, 85, 146, 0.08) 0%,  rgba(100, 85, 146, 0.12) 100%);
}

.tabview.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: white;
  background: #645592;
  border-color: transparent;
}
.tabview.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: #6c757d;
  background: #F7F1F6;
  border: 0 solid #0000;
  border-bottom: 0px solid transparent;
  border-radius: 6px !important;
  margin: 0 0 -2px;
  padding: 0.75rem;
  font-weight: 600;
  transition: box-shadow .2s;
}
.tabview.p-tabview .p-tabview-nav li {
  margin-right: 15px;
}
.tabview.p-tabview .p-tabview-nav {
  background: transparent;
  border: 0 solid transparent;
  border-bottom-width: 0px !important;
  border-radius: 6px !important;
  margin-bottom: 12px;
}
.tabview.p-tabview .p-tabview-panels {
    color: #4b5563;
    background: transparent;
    border: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 1.25rem 0 !important;
}

.custom-button {
 
  background: linear-gradient(
    180deg,
    var(--Button-Base-Default---1, #FEFEFE) 0%,
    var(--button-base-default-hover-2, #F6F8FA) 100%
  );
}

/* Change checked background */
.p-checkbox-box.p-highlight {
  background-color: #6366f1 !important;   /* indigo-500 */
  border-color: #6366f1 !important;
}

/* Change hover color while checked */
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background-color: #4f46e5 !important;   /* indigo-600 */
  border-color: #4f46e5 !important;
}

/* Change checkmark color */
.p-checkbox-box.p-highlight svg {
  stroke: white !important;
}


.phone-input-container {
    width: 100%;
}

/* Outer wrapper */
.phone-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #5f5c8f; /* light gray border */
    border-radius: 7px;
    background: #fff;
    overflow: hidden;
   
    
}
.phone-input-field.p-inputtext.p-component{
  padding: 7px 12px !important  ;
}
.phone-input-field.p-dropdown-label.p-inputtext{
   padding: 0px 12px !important  ;
}

/* Country Dropdown container */
.phone-dropdown {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* Remove all borders, focus rings, shadows from PrimeReact dropdown */
.phone-dropdown-field,
.phone-dropdown-field .p-inputtext,
.phone-dropdown-field .p-dropdown-label,
.phone-dropdown-field.p-dropdown,
.phone-dropdown-field:focus,
.phone-dropdown-field .p-dropdown-trigger,
.phone-dropdown-field .p-dropdown-trigger:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
   padding: 0px !important ;
}

/* Divider */
.phone-divider {
    width: 1px;
    height: 60%;
    background-color: #E5E7EB;
    margin: 0 10px;
}


/* Input text field */
.phone-input-field {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    flex: 1;

    font-size: 14px;
}

/* Remove browser focus outline */
.phone-input-field:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* Fix PrimeReact input internal border */
.phone-input-field.p-inputtext {
    border: none !important;
    box-shadow: none !important;
}

.phone-input-field.p-inputtext:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

@media (min-width: 1040px) {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 12px;
  }
  .topdropdown .p-dropdown-label.p-inputtext  {
  background: transparent;
  border: none;
  border-radius: none;
   font-size: 12px;
  padding:5px !important;
  color: #fff !important;
  font-weight: 500;
}
}
@media (min-width: 1366px) {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 12px;
    font-weight: 500;
  }
  .topdropdown .p-dropdown-label.p-inputtext  {
   font-size: 13px;
  padding:5px 8px !important;
  font-weight: 500;
}
}

@media (min-width: 1536px) {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 14px;
     font-weight: 500;
  }
    .topdropdown .p-dropdown-label.p-inputtext  {
   font-size: 14px;
  padding:5px 8px !important;
  font-weight: 500;
}
}

@media (min-width: 1900px) {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 14px;
     font-weight: 500;
  }
     .topdropdown .p-dropdown-label.p-inputtext  {
   font-size: 14px;
  padding:5px 8px !important;
  font-weight: 500;
}

  .custominput.p-inputtext {
    background: rgb(255, 255, 255);
    border: 1px solid var(--Interface-Stroke-default);
    border-radius: 6px;
    outline-color: rgba(0, 0, 0, 0);
    padding: 0.75rem;
    font-size: 14px;
    box-shadow: none;
    padding: 12px 12px;
    color: var(--Interface-Text-title1);
  }
  .customAccordian.p-accordion .p-accordion-header .p-accordion-header-link {
    color: #6b7280;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #e5e7eb !important;
    border-radius: 6px;
    padding: 1rem !important;
    font-weight: 400;
    font-size: 16px;
    transition: box-shadow 0.2s, color 0.2s;
  }
}
@media (min-width: 1230px) and (max-width: 1435px) {
  .customsidebar .p-sidebar {
    width: 74rem !important;
  }
  .customAccordian.p-accordion .p-accordion-tab {
    margin-bottom: 10px;
  }
}
@media (min-width: 1435px) and (max-width: 1680px) {
  .customsidebar .p-sidebar {
    width: 82rem !important;
  }
  .custominput.p-inputtext {
    background: rgb(255, 255, 255);
    border: 1px solid var(--Interface-Stroke-default);
    border-radius: 6px;
    outline-color: rgba(0, 0, 0, 0);
    padding: 0.75rem;
    font-size: 14px;
    box-shadow: none;
    padding: 12px 12px;
    color: var(--Interface-Text-title1);
  }
}

/* Above 1680px → 100rem */
@media (min-width: 1681px) {
  .customsidebar .p-sidebar {
    width: 100rem !important;
  }
}
@media (min-width: 1600px) {
  .customsidebar .catalog-left {
    width: 400px;
  }
  .customAccordian.p-accordion .p-accordion-tab {
    margin-bottom: 10px;
  }
}
