.custom-gradient.custom-gradient:hover{
  border-radius: var(--Border-Radius-none, 0);
  background: linear-gradient(
    90deg,
    rgba(33, 45, 61, 0) 0.37%,
    rgba(255, 233, 67, 0.52) 31.59%,
    rgba(78, 220, 63, 0.52) 65.17%,
    rgba(36, 49, 67, 0) 98.75%
    
  ) !important;
  backdrop-filter: blur(32px);
  height: auto;
}
.custom-gradient {
  border-radius: var(--Border-Radius-none, 0);
  background: linear-gradient(
    90deg,
    rgba(33, 45, 61, 0.04) 0.37%,
    rgba(255, 233, 67, 0.42) 38.73%,
    rgba(78, 220, 63, 0.42) 60.06%,
    rgba(36, 49, 67, 0.04) 98.75%
  );
  backdrop-filter: blur(32px);
}

.topdropdown.p-dropdown {
  background: transparent;
  border: none;
  border-radius: none;
  font-size: 12px;
}
.topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
  color: #fff;
  font-size: 12px;
  padding: 0px;
}
.topdropdown .p-dropdown:not(.p-disabled):focus {
  border-color: none;
  box-shadow: none;
}
.topdropdown.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-focus{
     border-color: none;
  box-shadow: none;
}
.topdropdown .p-icon {
  width: 0.7rem;
  height: 0.7rem;
  color: #fff;
}
.topdropdown.p-dropdown .p-dropdown-trigger {
  color: rgb(107, 114, 128);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 1rem;
  background: none;
}
.customsignin-gradient {
  background: linear-gradient(
    154deg,
    rgba(151, 71, 255, 0.21) 8.9%,
    rgba(255, 194, 0, 0) 79.12%
  );
}

.custominput.p-inputtext {
    background: rgb(255, 255, 255);
    border: 1px solid var(--Interface-Stroke-default);
    border-radius: 6px;
    outline-color: rgba(0, 0, 0, 0);
    padding: 0.75rem;
    font-size: 14px;
  box-shadow: none;
  padding: 8px 12px;
  color: var(--Interface-Text-title1);
}

.customcheckox.p-checkbox .p-checkbox-input {
    border: 1px solid #d1d5db;
    border-radius: 5px;
}
.customcheckox.p-checkbox .p-checkbox-box {
    color: #4b5563;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    outline-color: #0000;
    width: 18px;
    height: 18px;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
}
.customcheckox.p-checkbox.p-highlight .p-checkbox-box {
    background: #3b82f6;
    border-color: #3b82f6;
}


@media (min-width: 1040px)  {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 12px;
  }
}
@media (min-width: 1366px)  {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 13px;
  }
}

@media (min-width: 1536px)  {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 14px;
  }
}


@media (min-width: 1900px) {
  .topdropdown.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 14px;
  }
  .custominput.p-inputtext {
    background: rgb(255, 255, 255);
    border: 1px solid var(--Interface-Stroke-default);
    border-radius: 6px;
    outline-color: rgba(0, 0, 0, 0);
    padding: 0.75rem;
    font-size: 14px;
  box-shadow: none;
  padding: 8px 12px;
  color: var(--Interface-Text-title1);
}
}
