.profile_popup {
    border-radius: 8px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.footer_before {

    background-image: url(../public/images/footer_before.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 2.5vw;
    background-size: 100% 100%;

}

/* footer_before.png */
.bg_announcement::after {
    /* background-image: url(../public/images/announce_bg.png);
    background-repeat: no-repeat;
    width: 100%; */
    content: '';
    position: absolute;
    background: rgba(29, 124, 236, 0.20);
    filter: blur(187px);
    height: 100%;
    width: 100%;
    top: -40px;
    z-index: 0;
}

.announcement_content {

    background: #F5F6F7;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.education_Leaders_wrapper {
    background: url(../public/images/education_Leaders_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.expert_network_wrapper {
  background: url(../public/images/expert_network_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
/* .gradient_leaders 
{

} */

.gradient_leaders:before {
    /* content: '';
    position: absolute;
    background: url(../public/images/leader_gradient.svg); */
    /* z-index: ; */
    /* background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    bottom: 0px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover; */
}
  
 
  
  article.card {
 
  
    width: 100%;
    height: 520px;
    /* transform: translate(-50%, -50%) translateZ(0); */
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 15px;
    /* background: url(../public/images/card_img.png); */
    background: #10465e;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  @media (max-width: 1368px) {
    article.card {
      height: 460px;
    }
    
  }
  @media (max-width: 639px) {
    article.card {
      height: 440px;
    }
    
  }
  /* article.card .thumb {
    width: auto;
    height: 260px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png') no-repeat center;
    background-size: cover;
    border-radius: 3px;
  } */
  
  article.card .infos {
    width: auto;
    height: 520px;
    /* position: relative;
    padding: 14px 24px; */
    /* background: linear-gradient(180deg, #05222cc9 0%, #006485 80%); */
    background: #10465e;
    transition: .4s .15s cubic-bezier(.17,.67,.5,1.03);
  }
  
  article.card .infos .title {
    position: relative;
    margin: 10px 0;
    letter-spacing: 3px;
    color: #152536;
    font-family: 'Grotesque Black', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 0 0 0px #304858;
  }
  
  article.card .infos .flag {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 23px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/flag.png') no-repeat top right;
    background-size: 100% auto;
  }
  
  article.card .infos .date, article.card .infos .seats {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: .85rem;
    color: rgba(21, 37, 54, .7);
    font-family: 'Grotesque', sans-serif;
  }
  
  article.card .infos .seats {
    display: inline-block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    opacity: 0;
    transition: .5s .25s cubic-bezier(.17,.67,.5,1.03);
  }
  
  article.card .infos .txt {
    font-family: 'Merriweather', serif;
    line-height: 2;
    font-size: .95rem;
    color: rgba(21, 37, 54, .7);
    opacity: 0;
    transition: .5s .25s cubic-bezier(.17,.67,.5,1.03);
  }
  
  article.card .infos .details {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 0;
    padding: 20px 24px;
    letter-spacing: 1px;
    color: #4e958b;
    font-family: 'Grotesque Black', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    transition: .5s .25s cubic-bezier(.17,.67,.5,1.03);
  }
  
  article.card:hover .infos {
    transform: translateY(-520px);
  }

  @media (max-width: 1368px) {
    article.card:hover .infos {
      transform: translateY(-460px);
    }
    
  }
  
  article.card:hover .infos .seats,
  article.card:hover .infos .txt,
  article.card:hover .infos .details {
    opacity: 1;
  }
  /************ my_calender *****************/
  .my_calender .p-datepicker
  {
    padding: 1rem;
  }
  .my_calender .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, 
  .my_calender .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month
  {
    color:#374151;
    font-weight: 400;
  }
  .my_calender.p-calendar .p-datepicker-header .p-datepicker-prev
  {
    right: 50px;
  }
  .my_calender .p-datepicker-header .p-icon 
  {
    width: 0.9rem;
    height: 0.9rem;
  }
  .my_calender .p-datepicker-calendar-container  
  {
    margin-top: 15px;
  }
  .my_calender .p-datepicker-calendar-container tbody 
  {
    margin-top: 15px;
  }
  .my_calender .p-datepicker table td > span.p-highlight
  {
    color: #fff;
    background: #077397
  }
  .my_calender .p-datepicker table td > span:focus 
  {
    box-shadow: none;
  }
  .my_calender .p-datepicker td > span 
  {
    margin: 3px 6px;
  }
  .my_calender .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month 
  {
    margin-right: 1.5rem;
  }
  .my_calender .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month,
  .my_calender .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year 
  {
    margin-right: 1.5rem;
    position: relative;
  }
  .my_calender .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:after,
  .my_calender .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:after
  {
    position: absolute;
    font-family: primeicons;
    content: '\ea33';
    right: -17px;
    font-size: 12px;
    color: #374151;
    top: 6px;
  }
  .my_calender 
  .shadow3 
  {
    box-shadow: 0px 0px 40px -9.6px rgba(94, 94, 94, 0.25);
  }
  /************ my_calender *****************/
  
/***********************************************
            Responsive
***********************************************/
@media (min-width:300px) and (max-width:700px) {
  .eyeiconalgin .custompasswordlogin .p-icon-field > .p-input-icon
  {
    top: 36%;
  }
}
@media (min-width:2000px) and (max-width:2500px) {
  article.card 
  {
    height: 570px;
  }
  article.card .infos
  {
    height: 570px;
  }
  .gradient_leaders 
  {
    
  }
}
@media (min-width:1265px)  { 
  .eyeiconalgin .custompasswordlogin .p-icon-field > .p-input-icon 
  {
    top: 45%;
  }
}
@media (min-width:1920px) {
}

@media (min-width:1920px) {
    .footer_before:before {
        background-size: contain;
        top: 4.74vw;
    }
    .gradient_leaders:before
    {
      height: 10.042vw;
    }
    .eyeiconalgin .custompasswordlogin .p-icon-field > .p-input-icon 
    {
      top: 34%;
    }
   
}

@media (min-width:1800px) {
    .footer_before:before {
        background-size: contain;
        top: 4.74vw;
    }
}

@media (max-width:1366px) {
  .footer_before:before {
      background-size: cover;
      top: 4.74vw;
  }
  .article.card 
  {
    height: 570px;
  }
  .gradient_leaders:before
  {
    height: 116px;
  }
  
}

@media (max-width:1280px) {
    .footer_before:before {
        background-size: cover;
        top: 4.74vw;
    }
    .article.card 
    {
      height: 570px;
    }
    
    .gradient_leaders:before
    {
      height: 150px;
    }
    
}

@media (max-width:1040px) {
}
@media (max-width:1040px) {
    .footer_before {
        height: 31px;
    }
    .article.card 
    {
      height: 570px;
    }
    .gradient_leaders:before
    {
      height: 289px;
    }
    article.card .infos {
      height: 100%;
  }
  article.card:hover .infos {
    transform: translateY(-100%);
  }
  .education_Leaders_wrapper {
    background-size: cover;
    background-position: center;
}
}

@media (max-width:991px) {
  .footer_before {
    height: 23px;
}
.article.card 
  {
    height: 570px;
  }
  .gradient_leaders:before
  {
    height: 116px;
  }
}

@media (max-width:767px) {
  .footer_before {
    height: 18px;
}
.article.card 
  {
    height: 570px;
  }
  .gradient_leaders:before
  {
    height: 116px;
  }
}

@media (max-width:575px) {
  .footer_before {
    height:24px;
}
.article.card 
  {
    height: 570px;
  }
  .gradient_leaders:before
  {
    height: 116px;
  }
 
}
@media (min-width:300px) and (max-width:800px) {
  .about_bg 
  {
     background: none !important;
  }
}
@media  (max-width:600px) {  
 
  .p-tabview .p-tabview-panels 
  {
    padding: 0 !important;
  }
}




.custom_upload input[type=file] {
  width: 100%;
  max-width: 100%;
  color: #444;
  padding: 0px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #F5F6F7;
  border: 1px solid #BECDE3;

}

.custom_upload input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #4B586E;
  padding: 9px 20px;
  border-radius: 8px 0px 0px 8px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.custom_upload input[type=file]::file-selector-button:hover {
  background: #4B586E;
}


  