/* New css start */
.p-column-header-content .p-icon {
    width:0.725vw;
    height:0.725vw;
  }

  .tdsearchui .custDropdown.p-dropdown {
    border-radius: 6px var(--Border-Radius-none, 0px)
      var(--Border-Radius-none, 0px) 6px;
    border: var(--Border-Radius-none, 1px) solid
      var(--Interface-Stroke-hard, #E5E7EB);
    background: var(--Brand-Neutral-50, #f5f6f8);
    border-right: 0;
  }
  .tdsearchui .custDropdown.p-dropdown .p-dropdown-label {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Interface-Text-default, #2c363f);
    font-size: var(--Size-sm, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
  }

  @media (max-width: 768px) {
      .tdsearchui .p-dropdown {
        padding: 10px;
      }
  }

  .tdsearchui input {
    border: var(--Border-Radius-none, 1px) solid
      var(--Interface-Stroke-hard, #E5E7EB);
    background: var(--Interface-Surface-component, #fff);
    border-radius: 0 6px 6px 0;
  }
  .newsearch input {
    border: var(--Border-Radius-none, 1px) solid
      var(--Interface-Stroke-hard, #bbc1c7);
    background: var(--Interface-Surface-component, #fff);
    border-radius: 6px 6px 6px 6px;
  }
  .custTable.p-datatable .p-datatable-thead>tr> .customAction .p-column-header-content
{
    justify-content: center !important;
}

.custTable.p-datatable .p-datatable-thead>tr> .customAction2 .p-column-header-content
{
   display: none;
}

.profile_popup.p-overlaypanel {
    border-radius: 10px;
    /* width: 250px; */
}

.profile_popup.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}
/* New css ned */


.tableCust .p-paginator {
    justify-content: end;
    border: 0;
}

.tableCust {
    position: relative;
}

.tableCust .p-paginator-current {
    position: absolute;
    left: 0;
    font-size: 14px;
}

.tableCust .p-paginator .p-paginator-first,
.tableCust .p-paginator .p-paginator-prev,
.tableCust .p-paginator .p-paginator-next,
.tableCust .p-paginator .p-paginator-last,
.tableCust .p-paginator .p-paginator-pages .p-paginator-page {
    border: 1px solid #D1D5DB;
    border-radius: 0;
    width: 33px;
    height: 33px;
    margin: 0;
    min-width: inherit;
}

.tableCust .p-link:focus {
    box-shadow: none;
}

.tableCust .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    background-color: #DAEEFF;
}

.tableCust .p-paginator .p-paginator-prev {
    border-radius: 4px 0 0 4px;
    width: 65px;
}

.tableCust .p-paginator .p-paginator-next {
    border-radius: 0 4px 4px 0;
    width: 65px;
}

.tableCust .pi-angle-left:before {
    font-family: 'Open Sans', sans-serif;
    content: "Previous" !important;
}

.tableCust .pi-angle-right:before {
    font-family: 'Open Sans', sans-serif;
    content: "Next" !important;
}

.tableCust .p-dropdown {
    background: #F5F6F7;
}

.tableCust .p-paginator .p-dropdown .p-dropdown-trigger {
    width: 2rem;
}

.tableCust .p-paginator .p-dropdown {
    position: absolute;
    left: 210px;
    height: 40px;
    margin-right: 1rem;
    top:5px;
}

.tableCust .p-inputtext {
    padding: 7px 9px;
    margin: auto;
}

.tableCust .p-dropdown .p-dropdown-label {
    background: #F6F7F9;
}

.tableCust .p-dropdown .p-dropdown-trigger {
    background: #F6F7F9;
}

.tableCust .pi {
    font-size: 12px;
}


/***********************************************
            Sujit Start
***********************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.p-sidebar {
    font-family: 'Inter', sans-serif !important;
}

.custmSidebar.p-sidebar .p-sidebar-content {
    padding: 0 !important;
}

.custmSidebar.p-sidebar .p-sidebar-header {
    padding: 0 !important;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close.p-sidebar-icon {
    position: absolute;
    left: -75px;
    top: 50%;
    bottom: 50%;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;

    font-family: "austin" !important;
    content: "\e80c" !important;
    background-image: url(/assets/admin/svg/close_btn.svg);

    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4.427vw;
    color: #6c768b;
    content: "";
    width: 62px;
    height: 55px;
    display: block;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    color: #343a40;
    border-color: transparent;
    background: transparent;
    background-image: url(/assets/admin/svg/close_btn.svg);
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4.427vw;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close.p-sidebar-icon svg {
    display: none;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close,
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icon {
    border-radius: 14px;
}

.custmSidebar.p-sidebar-mask {
    background-color: #ffffffbd !important;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    /* color: #6c768b; */
    border-color: transparent !important;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0rem transparent !important;
}

.custmSidebar.p-sidebar.p-component.kpisidebar {
    width: 40vw;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.kpisidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    /* color: #6c768b; */
    border-color: transparent !important;
}

.custmSidebar.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.kpisidebar.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0rem transparent !important;
}


.p-sidebar-right .p-sidebar.width960 {
    width: 50vw;
}

.p-sidebar-bottom .p-sidebar.width1920 {
    width: 100vw;
    height: 100%;
}


/* Data Table start */

.custTable.p-datatable .p-datatable-thead>tr>th .p-column-filter-menu-button {
    width: 0.833vw;
    height: 0.833vw;
    border-radius: 0;
}

.custTable.p-datatable .p-sortable-column .p-column-title {
    padding-right: 15px;
}

.custTable.p-datatable .p-sortable-column .p-column-title,
.custTable .p-datatable .p-sortable-column .p-sortable-column-icon,
.p-datatable .p-sortable-column .p-sortable-column-badge {
    font-weight: 500;
}

.custTable.p-datatable .p-datatable-thead>tr>th {
    font-weight: 500;
}

.custTable.p-datatable .p-datatable-tbody>tr>td {
    color: #2e323a;
    font-size: 0.729vw;
    font-weight: 400;
    padding: 0.417vw 1.042vw;
    border-bottom: 1px solid #F2EEEE;
}

.custTable.p-datatable.p-datatable-selectable .p-datatable-tbody>tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
    background: #F5F6F8;
    color: #424242;
}

.custTable.p-datatable .pi {
    font-size: 0.729vw;
    font-weight: 500;
    color: #424242;
}

.custTable.p-datatable .p-sortable-column-icon {
    position: absolute;
    right: 0;
    top: 3px;
}

@media (max-width: 1024px) {
    .custTable.p-datatable .p-sortable-column-icon {
        right: -10px;
        top: 6px;
    }
    .p-column-header-content .p-icon {
        width: 12px;
        height: 12px;
    }
}

.p-datatable .p-datatable-tbody .p-datatable-emptymessage td {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.custTable.p-datatable .p-datatable-tbody>tr:nth-child(even) {
    background: #F5F6F8;
}

.custTable.p-datatable .p-datatable-thead>tr>th {
    border-bottom: 1px solid #F2EEEE;
    background: #F5F6F7;
    color: #3a3b3d;
    font-weight: 500;
    font-size: 0.729vw;
    padding: 0.625vw 1.042vw;
}

.custTable.p-datatable .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
    background: #E1EEF2;
    color: #424242;
}

.custTable.p-datatable .p-column-header-content {
    width: 100%;
    justify-content: normal;
    position: relative;
}

.action-shadow-table {
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
    /* background: #ffffff; */
    color: #495057;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 8px;
}

.custTable .p-datatable-thead .p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
    /* background: #ffffff; */
    color: #495057;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.custTable .p-datatable-thead .p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 8px;
}

.custTable th.action-shadow-table {
    box-shadow: none;
}

.tableCust .p-paginator {
    justify-content: end;
    border: 0;
}

.tableCust .p-paginator .p-paginator-first,
.tableCust .p-paginator .p-paginator-prev,
.tableCust .p-paginator .p-paginator-next,
.tableCust .p-paginator .p-paginator-last,
.tableCust .p-paginator .p-paginator-pages .p-paginator-page {
    border: 1px solid #EAE0E0;
    border-radius: 0;
    width: 1.719vw;
    height: 1.819vw;
    margin: 0;
    min-width: inherit;
    font-size: 0.833vw;
}

.tableCust .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    border: 1px solid #E1EEF2;
    background-color: #E1EEF2;
    color: #077397;
    font-weight: 500;
}

.tableCust .p-link:focus {
    box-shadow: none;
}

.tableCust .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.tableCust .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    background-color: #E1EEF2;
    border-color: #E1EEF2;
}

.tableCust .p-paginator .p-paginator-prev {
    border-radius: 4px 0 0 4px;
    width: 2.917vw;
}

.tableCust .p-paginator .p-paginator-next {
    border-radius: 0 4px 4px 0;
    width: 2.917vw;
}

.tableCust .pi-angle-left:before {
    font-family: 'Inter', sans-serif !important;
    content: "Previous" !important;
    font-size: 0.833vw;
}

.tableCust .pi-angle-right:before {
    font-family: 'Inter', sans-serif !important;
    content: "Next" !important;
    font-size: 0.833vw;
}

.tableCust .p-paginator-pages button {
    font-size: 0.833vw;
}

.custTable.p-datatable .p-paginator-bottom {
    border: 0;
    border-top: 1px solid #F2EEEE;
    border-radius: 0 0 12px 12px;
    padding: 16px;
}

.custTable.p-datatable .p-paginator-current {
    position: absolute;
    left: 0;
    color: #888888;
    font-weight: 400;
    font-size: 0.833vw;
}

/* .custCheckBox */
.custCheckBox .p-checkbox .p-checkbox-input {
    border-radius: 4px;
}
.custCheckBox .p-checkbox .p-checkbox-box {
    border: 1px solid #BECDE3;
    border-radius: 4px;
    width: 16px;
    height: 16px;
}
.custCheckBox .p-checkbox {
    width: 16px;
    height: 16px;
}
.custCheckBox .p-checkbox .p-checkbox-box .p-checkbox-icon.p-icon {
    width: 10px;
    height: 10px;
}
.custCheckBox .p-checkbox.p-highlight .p-checkbox-box {
    border-color: #0090BC;
    background: #0090BC;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: #0090BC;
}

.custCheckBox .p-dropdown:not(.p-disabled):hover {
    border-color: #395b69 !important;
}

.custCheckColor .p-checkbox .p-checkbox-box {
    background: #F5F6F8;
}

.custTable .p-paginator .p-dropdown {
    /* position: absolute;
    left: 200px;
    */
    margin-right: 1rem;
}

.custTable .p-dropdown .p-dropdown-trigger {
    width: 2rem;
}

.custTable .p-paginator .p-dropdown {
    height: 2.083vw;
    position: absolute;
    left: 11.021vw;
    border: 1px solid #EAE0E0;
}

.custTable .p-inputtext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custTable .p-dropdown .p-dropdown-label {
    background: #FCF5F6;
    color: #888888;
    font-size: 0.833vw;
    font-weight: 400;
}

.custTable .p-dropdown .p-dropdown-trigger {
    background: #FCF5F6;
    color: #888888;
}

.custTable .p-column-filter-overlay {
    width: 8.333vw !important;
}

.custTable .p-column-filter-constraint {
    padding: 0 !important;
}

.custTable .p-column-filter-buttonbar {
    display: none;
}

.custTable .p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0rem #C7D2FE !important;
    outline: 0 none !important;
}

.custTable .p-datatable .p-datatable-tbody>tr.p-highlight {
    background: #F0E9EA;
    color: #262626;
}

.custTable.p-datatable .p-tag.p-component .p-tag-value {
    display: flex;
    align-items: center;
    gap: 0.521vw;
}

.custTable.p-datatable .p-tag.p-component .p-tag-value::before {
    font-family: 'primeicons';
    content: "\e9dd";
    font-size: 0.521vw;
}

.custTable.p-datatable .p-tag.p-tag-success,
.custTable.p-datatable .p-tag.p-tag-warning {
    border-radius: var(--border-radius-rounded-2xl, 16px);
    font-size: 0.729vw;
    font-weight: 500;
    padding: 0.208vw 0.729vw;
}

.custTable.p-datatable .p-tag.p-tag-success {
    border: 1px solid var(--brand-highlight-pure, #3F8892);
    background: var(--brand-highlight-50, #F2F9F9);
    color: #3F8892;
}

.custTable.p-datatable .p-tag.p-tag-warning {
    border: 1px solid var(--interface-feedback-neutral-400, #E3A008);
    background: #FFFCE1;
    color: #E3A008;
}

/* Data table end */

.boxshadow01 {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.custm-search i {
    margin-top: -0.4rem;
}

.custm-search .p-inputtext {
    border-radius: 0.521vw;
    padding-left: 2.208vw;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0rem #C7D2FE !important;
    border-color: #b2b2b4 !important;
}

/***Sidebar Width****/
.p-sidebar.width600 {
    width: 31.25vw;
}

.p-sidebar.width1800 {
    width: 93.750vw;
}

/***Sidebar Width****/

.p-dropdown.custm-dropdown .p-dropdown-label.p-placeholder,
.p-dropdown.custm-dropdown .p-dropdown-label {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 35px;
    color: #888888;
    font-size: 0.833vw;
    font-weight: 400;
}

.btn_inactive {
    opacity: 0.3;
}

.p-sidebar.SuccessfullycreatePopup .p-sidebar-header {
    display: none;
}

.custm-filterserach i {
    margin-top: -0.3rem;
}

.custmtabhead .react-tabs__tab-list {
    display: flex;
    align-items: center;
    gap: 0.521vw;
}

.custmtabhead .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
    background: #9E8D71;
    color: #FFFFFF;
}

.custmtabhead .react-tabs__tab-list .react-tabs__tab {
    background: #FFFFFF;
    padding: 0.521vw;
    color: #888888;
    border-radius: 0.313vw;
    font-size: 1.250vw;
    line-height: 17px;
    cursor: pointer;
}

.p-sidebar-right .p-sidebar.width1020 {
    width: 53.125vw;
}

.p-sidebar-right .p-sidebar.editpopup {
    background-color: #E5E7EB;
}

/**************** Upload************************/
body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    /* padding: 10px 0; */
}



.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 1px dashed #BECDE3;
    position: relative;
    border-radius: 5px;
}



.image-dropping,
.image-upload-wrap:hover {
    background-color: #fff;
    border: 1px dashed #BECDE3;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 500;

    color: #9CA1AB;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

/**************** Upload************************/
.custom_splitbutton .p-splitbutton {
    background-color: #A93439;
    border-radius: 60px;


}

.custom_splitbutton .p-splitbutton .p-button {
    padding: 0.625vw 0.625vw !important;
    font-weight: 400;
    font-size: 12px;
    border-color: transparent;
}
.custom_splitbutton .p-button-label {
    font-weight: 400;
}
.custom_splitbutton .p-splitbutton .p-splitbutton-menubutton {

    padding: 0.625vw 0.625vw !important;
    width: 2.3rem;

}

.custom_splitbutton .p-button:enabled:hover,
.custom_splitbutton .p-button:not(button):not(a):not(.p-disabled):hover {
    background-color: transparent;
}

.p-menu .p-menuitem-link {
    font-weight: 400;
    font-size: 13px !important;
    padding: 0.5rem 1.25rem !important;
    color: #4B586E !important;
}

.custom_splitbutton .pi-chevron-down:before {
    content: "\e907";
    font-family: 'austin-isd';
}

.dashboard_custom_tab .custm-tablist .react-tabs__tab-list {
    display: flex;
}

.p-sidebar-right .p-sidebar.width1200 {
    width: 85%;
}

.upload .image-dropping,
.image-upload-wrap:hover {
    background-color: #f0f2f6;
}




/********************* dashboard Calender ******************/

.calendar-slick-slider .slick-disabled {
    opacity: 0.5;
}

.calendar-slick-slider .slick-prev {
    width: 24px;
    height: 24px;
    top: 12px;
    left: 0;
    z-index: 1;
}

.calendar-slick-slider .slick-next {
    width: 24px;
    height: 24px;
    top: 12px;
    right: auto;
    left: 110px;
    z-index: 1;
}

.calendar-slick-slider .slick-prev:before {
    display: block;
    background: url(/assets/admin/slick-circle-left1.svg) !important;
    width: 24px;
    height: 24px;
    background-size: 100%;
    opacity: 1 !important;
    color: #fff0 !important;
}

.calendar-slick-slider .slick-next:before {
    display: block;
    background: url(/assets/admin/slick-circle-right1.svg) !important;
    width: 24px;
    height: 24px;
    background-size: 100%;
    opacity: 1 !important;
    color: #fff0 !important;
}

/********************* dashboard Calender ******************/
/***********************************************
            Admin Side
***********************************************/
/*********** new admin**************/

/*table*/

.custmultiselect .p-multiselect {
    background: none;
    border: none;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 0px;
}

.custmultiselect .p-multiselect .p-multiselect-label {
    padding: 0rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.custmultiselect .p-multiselect .p-multiselect-label.p-placeholder {
    color: #6c757d;
    font-size: 0.70rem;
}

.custmultiselect .p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 0rem;
}

.custmultiselect .p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0rem;
    margin-right: 0.5rem;
    background: none;
    color: #6c757d;
    border-radius: 6px;
}

.custmultiselect .p-multiselect:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0rem transparent !important;
    border-color: transparent !important;
}

/* Sujit End */

/***********************************************
            Vivek Start
***********************************************/

/* Calendar start */
.full-calendar-sec .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

.full-calendar-sec .fc .fc-multimonth-title {
    background: #F5F6F7;
    text-align: left;
    padding: 0.417vw 1.67vw;
    font-size: 1.04vw;
    font-weight: 500;
    font-family: Inter;
    color: #374151;
    margin-bottom: 0.730vw;
    border-radius: 8px;
}

.full-calendar-sec .fc-multimonth-month {
    margin-bottom: 1.67vw;
}

.full-calendar-sec .fc-multimonth-month:last-child {
    margin-bottom: 0;
}

.full-calendar-sec .fc .fc-multimonth {
    border: 0;
}

.full-calendar-sec .fc .fc-multimonth-singlecol .fc-multimonth-header-table {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.full-calendar-sec .fc .fc-multimonth-singlecol .fc-multimonth-daygrid {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.full-calendar-sec .fc .fc-daygrid-event {
    padding: 3px 8px;
}

/* .fc-timegrid-event-harness > .fc-timegrid-event */
.full-calendar-sec .fc .fc-timegrid-event {
    padding: 3px 8px;
}

.full-calendar-sec .fc-h-event .fc-event-title {
    text-overflow: ellipsis;
}

/* .full-calendar-sec .fc.fc-theme-standard .fc-view-harness td{
    background: #fff;
} */
.full-calendar-sec .fc .fc-daygrid-day.fc-day-today {
    background: #fff;
}

.full-calendar-month .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid.fc-scrollgrid-liquid {
    border: 0;
}

.full-calendar-month .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid.fc-scrollgrid-liquid .fc-scrollgrid-section-header>th {
    border: 0;
}

.full-calendar-month .fc .fc-scroller-harness .fc-scrollgrid-sync-table {
    border-left: 1px solid #E5E7EB;
}

.full-calendar-month .fc.fc-theme-standard .fc-view-harness th.fc-col-header-cell {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #E5E7EB;
    font-weight: normal;
    color: #4B586E;
    font-size: 12px;
}

.full-calendar-month .fc .fc-scroller-harness {
    overflow: visible;
}

.full-calendar-month .fc .fc-scroller-liquid-absolute {
    overflow: visible !important;
}

.full-calendar-month .fc-dayGridMonth-view {
    padding-left: 60px;
}

.full-calendar-month .fc-direction-ltr .fc-daygrid-week-number {
    left: -55px;
    background: none;
    color: #4B586E;
    font-size: 12px;
    top: 48px;
    width: 50px;
}

.full-calendar-month .fc .fc-daygrid-day-number {
    color: #4B586E;
    font-size: 13px;
}

.full-calendar-month .fc .fc-toolbar.fc-header-toolbar,
.full-calendar-week .fc .fc-toolbar.fc-header-toolbar {
    background: #F5F6F7;
    text-align: left;
    padding: 0.417vw 1.67vw;
    margin-bottom: 0.730vw;
    border-radius: 8px;
}

.full-calendar-month .fc .fc-toolbar-title,
.full-calendar-week .fc .fc-toolbar-title {
    font-size: 1.04vw;
    font-weight: 500;
    font-family: Inter;
    color: #374151;
}

.full-calendar-month .fc.fc-theme-standard .fc-toolbar .fc-eventmonth-button {
    background: none;
    padding: 0;
    border: 0;
    color: rgba(55, 65, 81, 0.5);
    font-size: 14.44px;
    font-style: italic;
    font-weight: 500;
}

.full-calendar-month .fc.fc-theme-standard .fc-toolbar .fc-eventmonth-button:enabled:hover {
    background: none;
    outline: none;
    border: 0;
    color: rgba(55, 65, 81, 0.5);
}

.full-calendar-month .fc .fc-daygrid-day-frame {
    padding: 11px;
}

.full-calendar-month .fc .fc-daygrid-day-top {
    flex-direction: row;
}

.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button.fc-eventweek-button {
    background: none;
    padding: 0;
    border: 0;
    color: #A93439;
    font-size: 16px;
    font-weight: 500;
    margin: 0 16px;
}

.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button.fc-eventweek-button:enabled:hover {
    background: none;
    outline: none;
    border: 0;
    color: #A93439;
}

.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button {
    border: 1.5px solid #9CA1AB;
    background: none;
    color: #9CA1AB;
    border-radius: 100% !important;
}

.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:first-child {
    border-radius: 100%;
}

.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button:enabled:hover {
    background: #A93439;
    border-color: #A93439;
    color: #fff;
}

.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left,
.full-calendar-week .fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right {
    margin-top: -3px;
}

.full-calendar-week .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid {
    border: 0;
}

.full-calendar-week .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid-section-header th {
    background: none;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.full-calendar-week .fc.fc-theme-standard .fc-view-harness th .fc-col-header-cell-cushion {
    font-weight: 500;
    font-size: 12px;
    color: #4B586E;
}

.full-calendar-week .fc .fc-timegrid-axis-cushion,
.full-calendar-week .fc .fc-timegrid-slot-label-cushion {
    font-weight: 500;
    font-size: 12px;
    color: #4B586E;
    padding: 0 8px;
}

.full-calendar-week .fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: center;
}

/* .full-calendar-week .fc .fc-timegrid .fc-daygrid-body .fc-scrollgrid-sync-table{
    border-right: 1px solid #E5E7EB;
} */
.full-calendar-week .fc.fc-theme-standard .fc-view-harness td .fc-daygrid-day-frame {
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
}

.full-calendar-week .fc.fc-theme-standard .fc-scrollgrid-section-body>td {
    border-bottom: 0;
}

/* .full-calendar-week .fc.fc-theme-standard .fc-scrollgrid-section-body.fc-scrollgrid-section-liquid > td{
    border-bottom: 1px solid #E5E7EB;
} */
/* .full-calendar-week .fc.fc-theme-standard .fc-scrollgrid-section-body td .fc-daygrid-body .fc-daygrid-day{
    border-bottom: 1px solid #E5E7EB;
} */
.full-calendar-week .fc.fc-theme-standard .fc-view-harness td.fc-timegrid-divider {
    border-bottom: 0;
}

.full-calendar-week .fc.fc-theme-standard .fc-view-harness td.fc-timegrid-slot-label {
    border-top: 0;
}

.full-calendar-week .fc.fc-theme-standard .fc-view-harness tr:nth-child(even) td.fc-timegrid-slot-lane {
    border-top: 0;
}

.full-calendar-week .fc.fc-theme-standard .fc-timegrid-cols .fc-timegrid-col {
    background: transparent;
    border-color: #E5E7EB;
}

.full-calendar-week .fc.fc-theme-standard .fc-timegrid-cols .fc-timegrid-col.fc-day .fc-timegrid-col-frame {
    border-bottom: 1px solid #E5E7EB;
}

.full-calendar-week .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 60px;
}

.full-calendar-week .fc .fc-timegrid-slot {
    height: 30px;
}

.full-calendar-listmonth .fc {
    padding: 16px;
    border: 1px solid #E5E7EB;
}

.full-calendar-listmonth .fc .fc-toolbar-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.full-calendar-listmonth .fc.fc-theme-standard .fc-view-harness .fc-cell-shaded {
    background: #F5F6F7;
    padding: 8px 32px;
}

.full-calendar-listmonth .fc .fc-list-day-text {
    font-size: 18px;
    color: #374151;
    font-weight: 500;
}

.full-calendar-listmonth .fc.fc-theme-standard .fc-view-harness .fc-view {
    border: 0;
}

.full-calendar-listmonth .fc .fc-scroller-liquid .fc-list-day th {
    border: 0;
}

.full-calendar-listmonth .fc .fc-scroller-liquid .fc-event td {
    border: 0;
}

.full-calendar-listmonth .fc .fc-scroller-liquid .fc-event+.fc-event td {
    border-top: 1px solid #E5E7EB;
}

.full-calendar-listmonth .fc .fc-list-event>td {
    padding: 10px 12px;
}

.full-calendar-listmonth .fc .fc-list-event>td:first-child {
    padding-left: 40px;
    color: #A93439;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.full-calendar-listmonth .fc .fc-list-event>td:first-child:before {
    content: "";
    background: #F6EAEB;
    height: 28px;
    display: block;
    margin-bottom: -25px;
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 20px;
}

.full-calendar-listmonth .fc .fc-list-event>td:last-child {
    padding-right: 32px;
}

.full-calendar-listmonth .fc .fc-list-event>td.fc-list-event-title {
    padding-left: 0;
    font-size: 16px;
    font-weight: 500;
    color: #374151;
}

.full-calendar-listmonth .fc tr.fc-list-day .fc-list-day-side-text {
    display: none;
}

.full-calendar-listmonth .fc .fc-list-event:hover td {
    background: #fff;
}

.full-calendar-listmonth .fc .fc-list-event-dot {
    border-width: 7px;
    border-radius: 100%;
    /* border-color: #2D4F49; */
}

/* Scroll bar */
.full-calendar-sec ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
}

/* Track */
.full-calendar-sec ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.full-calendar-sec ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.full-calendar-sec ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.full-calendar-sec ::-webkit-scrollbar-thumb:horizontal {
    background: #6c6c6c;
    border-radius: 10px;
}

.full-calendar-sec .fc-daygrid-event {
    white-space: normal;
}

/* Calendar end */

/* Event management */
.event-dropdown .p-inputtext {
    padding-left: 16px;
    color: #9CA1AB;
    font-size: 14px;
}

.event-dropdown .p-dropdown-trigger {
    padding-right: 16px;
}

.event-dropdown .p-dropdown .p-dropdown-trigger {
    width: 1.8rem;
    color: #9CA1AB;
}

.event-dropdown .p-dropdown:not(.p-disabled):hover {
    border-color: #e5e7eb;
}

body .react-tabs__tab-list {
    border: 0
}

body .react-tabs__tab--selected {
    outline: none;
    background: none;
}

body .react-tabs__tab {
    background: none;
    border: 0;
    padding: 0;
}

body .react-tabs__tab:after {
    display: none;
}

/* Vivek End */

/***********************************************
            Vaibhav Start
***********************************************/
.p-datepicker .p-timepicker { padding: 0 !important; }
.p-datepicker .p-timepicker span { font-size: 14px !important; }
.overlapdown .p-dropdown-panel{ z-index: 1 !important; }
.overlapdown.p-overflow-hidden .p-dropdown-panel{ z-index: 9999 !important; }

/* Vaibhav End */

.p-button:focus { box-shadow: none !important; }

/***********************************************
            Responsive
***********************************************/

@media (min-width:1680px) {
    /* Vaibhav Start */
        .p-datepicker .p-timepicker span { font-size: 0.833vw !important; }
        .tableCust .p-paginator-current { font-size: 0.833vw; }
    /* Vaibhav End */

}

@media (max-width:1440px) {

    /* Shahrukh start */
    .calendar-slider.slick-slider .slick-next,
    .calendar-slider.slick-slider .slick-prev,
    .custslick-slider.slick-slider .slick-dots {
        left: 46% !important;
    }
}

@media (min-width:1280px) {

    /***********************************************
            Filter component Start
    ***********************************************/
    .filter-sec .custDropdown .p-inputtext {
        font-size: 0.729vw;
    }

    /***********************************************
            Nilesh Start
    ***********************************************/
    .custom_search .p-inputtext {
        padding: 0.625vw 0.833vw;
        font-size: 0.833vw;
    }

    .customAccordion .p-accordion .p-accordion-header .p-accordion-header-link {
        font-size: 0.938vw;
        padding: 0.833vw;
        border: none !important;
        background-color: #d2d8dd;
    }

    .customAccordion .pi-chevron-right:before {
        font-size: 0.421vw;
    }

    .customAccordion .pi-chevron-down:before {
        font-size: 0.421vw;
    }

    .customInput .p-inputtext {
        padding: 0.625vw 0.833vw;
        font-size: 0.833vw;
    }

    /* .customDropdown .p-inputtext,
    .customInput {
        padding: 0.625vw 0.833vw;
        font-size: 0.833vw !important;
    }  */

    .keywordSearch .p-inputtext {
        padding: 0.625vw 0.833vw;
        font-size: 0.833vw;
    }

    .bgnewsimage:before {
        top: 4.281vw;
        width: 13.698vw;
        height: 26.25vw;
    }

    /* website start */
    .p-sidebar-right .p-sidebar.width768 {
        width: 40vw;
    }

    /* website end */

    /* .p-multiselect  */
    .custMultiselectBox .p-multiselect .p-multiselect-label {
        font-size: 0.833vw;
        padding: 0.625vw 0.833vw;
    }

    .custMultiselectBox .p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
        padding: 0.625vw 0.833vw;
    }
    .custmulti .p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
        padding: 0.450vw 0.833vw;
    }

    .custMultiselectBox .p-multiselect.p-multiselect-chip .p-multiselect-token {
        font-size: 0.729vw;
    }

    .custmulti .p-multiselect.p-multiselect-chip .p-multiselect-token{
    padding:0.200rem 0.50rem ;
    }

    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        padding: 0.469vw 0.833vw !important;
        font-size: 0.729vw !important;

    }
    .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
        background-color: #0a85ad;
        color: #fff;
    }
    .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
        background-color: #edfbff;
        color: #0b86af;
    }

    .p-multiselect-panel .p-multiselect-header {
        padding: 0.469vw 0.833vw !important;
        font-size: 0.729vw !important;
    }
    .customAccordion .p-accordion .p-accordion-header .p-accordion-header-link{
        background-color: #d2d8dd;
      }

    /* .p-multiselect  */

    /* Nilesh End */

    /***********************************************
            Shahrukh Start
    ***********************************************/
    .eventcalendar .p-inputtext {
        padding: 0.625vw 0.833vw;
        font-size: 14px;
    }

    .eventcalendar .p-dropdown {
        min-width: 135;
    }

    .eventcalendar .p-dropdown .pi-chevron-down:before {
        font-size: 12px;
    }

    /* Shahrukh End */
}

@media (max-width:1024px) {

    /***********************************************
            Shahrukh Start
    ***********************************************/
    .custm_dropdown.p-dropdown .p-dropdown-label.p-inputtext.p-placeholder,
    .custm_dropdown.p-dropdown .p-dropdown-label {
        font-size: 12px;
    }

    .custm-tablist .react-tabs__tab {
        padding: 9px;
        font-size: 14px;
        line-height: 24px;
    }

    .custombarlistfile.p-scrollpanel.p-component {
        height: 300px;
    }

    .custombaradmin.p-scrollpanel.p-component {
        height: 300px;
    }

    .admin-calendar-months span {
        margin-right: 2px;
    }

    /* Shahrukh End */

    /***********************************************
            Sujit Start
***********************************************/
    .custTable.p-datatable .p-tag.p-component .p-tag-value {
        gap: 8px;
    }

    .custTable.p-datatable .p-tag.p-component .p-tag-value::before {
        font-size: 8px;
    }

    .custTable.p-datatable .p-tag.p-tag-success,
    .custTable.p-datatable .p-tag.p-tag-warning {
        font-size: 12px;
        padding: 4px 12px;
    }

    .custTable.p-datatable .p-datatable-thead>tr>th {
        font-size: 14px;
        padding: 12px 20px;
    }

    .custTable.p-datatable .p-datatable-tbody>tr>td {
        font-size: 14px;
        padding: 8px 20px;
    }

    .custTable .p-datatable-thead .p-checkbox .p-checkbox-box {
        width: 16px;
        height: 16px;
    }

    .custTable .p-datatable-tbody .p-checkbox .p-checkbox-box {
        width: 16px;
        height: 16px;
    }

    .custTable.p-datatable .p-paginator-current {
        font-size: 12px;
    }

    .custTable .p-paginator .p-dropdown {
        height: 30px;
        left: 0;
        position: relative;
    }

    .custTable .p-dropdown .p-dropdown-label {
        font-size: 12px;
    }

    .custTable.p-datatable .pi {
        font-size: 12px;
    }

    .tableCust .p-paginator .p-paginator-prev {
        width: 79px !important;
    }

    .tableCust .p-paginator .p-paginator-first,
    .tableCust .p-paginator .p-paginator-prev,
    .tableCust .p-paginator .p-paginator-next,
    .tableCust .p-paginator .p-paginator-last,
    .tableCust .p-paginator .p-paginator-pages .p-paginator-page {
        width: 33px;
        height: 33px;
    }

    .tableCust .p-paginator .p-paginator-next {
        width: 59px;
    }

    .custm-search .p-inputtext {
        border-radius: 8px;
        padding-left: 30px;
    }

    .tableCust .p-paginator .p-paginator-first,
    .tableCust .p-paginator .p-paginator-prev,
    .tableCust .p-paginator .p-paginator-next,
    .tableCust .p-paginator .p-paginator-last,
    .tableCust .p-paginator .p-paginator-pages .p-paginator-page {
        font-size: 12px;
    }

    .tableCust .pi-angle-left:before {
        font-size: 12px;
    }

    .tableCust .pi-angle-right:before {
        font-size: 12px;
    }

    .custTable.p-datatable .p-paginator-current {
        position: relative;
    }

    .custmtabhead .react-tabs__tab-list {
        gap: 8px;
    }

    .custmtabhead .react-tabs__tab-list .react-tabs__tab {
        padding: 10px;
        border-radius: 6px;
        font-size: 15px;
        line-height: 15px;
    }

    .p-dropdown.custm-dropdown .p-dropdown-label.p-placeholder,
    .p-dropdown.custm-dropdown .p-dropdown-label {
        font-size: 14px;
    }

    /* Sujit End */

}


@media only screen and (max-width: 767px) {

    /***********************************************
            Sujit Start
        ***********************************************/
    .p-sidebar.width1800 {
        width: 100%;
    }

    .p-sidebar.width600 {
        width: 100%;
    }

    /* Sujit End */
}

 /* Add this to your CSS */
 .custom-toast {
    background-color: #F5F6F7 !important; /* Change the background color as needed */
  }

  .custom-toast-body {
    background-color: transparent !important; /* Change the background color as needed */
  }


  /* pagination responsive  */

  @media (max-width:768px){
    .tableCust .p-paginator .p-dropdown {
      position: absolute;
      left: 173px !important;

    }
    .tableCust .p-paginator-current {
      position: absolute;
      left: 0;
      top: -20px;
  }
  .tableCust .p-paginator .p-dropdown {
    position: absolute;
    left: 200px !important;

    top: -8px;
  }

  .tableCust .p-paginator {
    justify-content: start;
    border: 0;
    padding: 0;
    margin-top: 20px;
    padding-top: 30px;
  }
    .tableCust .p-inputtext {
      padding: 3px;
    }
    .tableCust .p-paginator .p-paginator-prev {
      width: 70px !important;
      height: 25px !important;
    }
    button.p-paginator-next.p-paginator-element.p-link {
      width: 40px !important;
    }
    .tableCust .p-paginator-current {
      color: #9CA1AB;
      font-size: 14px;
    }
    .tableCust .p-dropdown .p-dropdown-label {
      background: #f6f7f9;
      font-size: 14px;
    }
    .tableCust .p-paginator .p-dropdown .p-dropdown-trigger {
      width: 15px;
    }
    .pi-chevron-down:before {
      content: "\e902";
      font-size: 10px !important;
    }
    .tableCust .p-paginator .p-paginator-first,  .tableCust .p-paginator .p-paginator-next, .tableCust .p-paginator .p-paginator-last, .tableCust .p-paginator .p-paginator-pages .p-paginator-page {
      width: 50px !important;
      height: 25px !important;
    }
    .tableCust .p-paginator .p-dropdown {

      height: 25px;
      margin-right: 10px !important;
    }
    }

    @media screen and (min-width:380px) and (max-width:520px) {
        .tableCust .p-dropdown .p-dropdown-label {
            background: #f6f7f9;
            font-size: 12px;
          }
          .tableCust .p-paginator-current {
            color: #9CA1AB;
            font-size: 12px;
          }
          .tableCust .p-paginator .p-paginator-prev {
            font-size: 10px;
          }
          .tableCust .p-paginator .p-paginator-next {
            font-size: 10px;
          }
          .tableCust .pi-angle-right:before {
            font-size: 10px;
        }
        .tableCust .pi-angle-left:before {
            font-size: 10px;
        }
        .tableCust .p-paginator .p-paginator-first,  .tableCust .p-paginator .p-paginator-next, .tableCust .p-paginator .p-paginator-last, .tableCust .p-paginator .p-paginator-pages .p-paginator-page {
            width: 25px !important;
            height: 25px !important;
          }
          .tableCust .p-paginator .p-dropdown {
            position: absolute;
            left: 219px !important;
            height: 40px;
            margin-right: 1rem;
        }
    }


    span.p-dropdown-label.p-inputtext {
        font-size: 14px;
        /* padding: 0.625vw 0.833vw;
        font-size: 0.833vw !important; */
        
    }
    .custdroppad span.p-dropdown-label.p-inputtext {
        padding: 0.625vw 0.833vw;
        font-size: 0.833vw !important;   
    }
    .textWrap span.p-dropdown-label.p-inputtext {
        text-wrap: wrap;
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background: #a93439;
    }
    .workflow span.p-dropdown-label.p-inputtext {
        font-size: 0.833vw;
    }
    .workflow .p-inputtext {
        color: #000;
    }
    .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
        background:  #a93439;
    }
   
     /***********************************************
            Akshay end dark Theme
        ***********************************************/
    /************ calender*******************/
    .p-datepicker table td
    {
        padding: 0.2rem;
    }
    .p-datepicker table td > span
    {
        width: 2rem;
        height: 2rem;
    }
    .p-datepicker table
    {
            font-size: 14px;
    }
    .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month
    {
        padding: 0.2rem;
    }
    .p-datepicker .p-datepicker-header
    {
        padding: 0.2rem;
    }
    .fc.fc-theme-standard .fc-toolbar .fc-button:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none !important;
    }
    /************ calender*******************/

/* ***********akshay ***************** */
    /* .p-dropdown-panel {
        z-index: 2 !important;

    } */

    /* ***********akshay ***************** */

      /* ***********Pratik ***************** */
    .full-calendar-sec .fc .fc-daygrid-event { height: 100%; min-height: 94px; }

     /* ***********end Pratik ***************** */

     .custIcon .pi {
        font-size: 12px;
    }
    .solution_provider_bg
    {
        background: url(../public/images/solution_provide_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }